<div class="row">
    <div class="small-12 pt1rem">
        <p class="ta-center">
            Рекомендуем зарегистрировать логин и пароль для вашей учетной записи
        </p>
        <input type="text" placeholder="логин">
        <input type="password" placeholder="пароль">
        <div class="ta-center">
            <button>
                Зарегистрировать
            </button>
            <div class="text-silver pointer" ng-click="skipRegistration()">
                Пропустить
            </div>
        </div>
        <p ng-show="isActiveMembership" class="pt1rem ta-center text-red">
            Сейчас учетная запись привязана к вашему устройству через кэш браузера и может быть утеряна в случае очистки кэша
        </p>
        <div ng-show="!isActiveMembership" ng-switch="membershipState">
            <p ng-switch-when="cash_wait" class="pt1rem ta-center text-red">
                Платеж в обработке
            </p>
            <div ng-switch-when="failure">
                <p class="pt1rem ta-center text-red">
                    Неуспешный платеж
                </p>
                <div class="ta-center">
                    <button ng-click="tryAgain()">
                        Попробовать снова
                    </button>
                </div>
            </div>
            <p ng-switch-default class="pt1rem ta-center text-red">
                Платеж в обработке
            </p>
        </div>
    </div>
</div>