<div overscrollable-without-footer>
    <div class="row">
        <div class="columns small-12 inline-input-button-block pt1rem">
            <div class="ta-center">Найти пользователя в системе:</div>
            <form name="friendSearch" class="relative">
                <input type="text" ng-model="stringToSearch" placeholder="логин или номер телефона" clear-all-button-inline>
                <button ng-click="findUser()" ng-disabled="showSpinner || !stringToSearch">
                <i class="fa fa-search" ng-show="!showSpinner"></i>
                <span ng-show="showSpinner" spinner spinner-color="white"></span>
                </button>
            </form>
        </div>
        <div ng-show="canBeAdded" ng-class="{'animated slideInDown': canBeAdded}">
            <div class="card" ng-show="canBeAdded" ng-click="addToFriends(true)">
                <div class="row" >
                    <div class="small-3 column ava-container">
                        <img class="rounded-ava" ng-src="{{avatarToAdd.mini}}" alt=""> 
                    </div>
                    <div class="small-6 column p0">
                        <span class="chat-title title" ng-bind="nameToAdd"></span>
                    </div>
                    <div class="small-3 column" stop-event>
                        <i class="fa fa-plus-circle addButton" ng-click="addToFriends()"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ta-center">
        <div class="columns small-12">
            <button ng-click="goto('createFastChat')">
                <i class="fa fa-envelope"></i>
                Написать временное сообщение
            </button>
        </div>
        <div class="columns small-12">
            <button ng-click="goto('signin', {inOrUp: 'in'})">
                Войти
            </button>
            <button ng-click="goto('phoneRegistration')">
                Зарегистрироваться 
            </button>
        </div>
        <div class="columns small-12">
            
        </div>
    </div>
</div>