div#posts-control(ng-controller='postsControl')
    md-button.md-fab.tiny(aria-label="Dislike" ng-disabled='!activePost' ng-click='dislike()')
        i.fa.fa-trash-o
    //md-button.md-fab.tiny(aria-label="Comments" ng-disabled='!activePost' style='padding-left: 2px;')
        i.fa.fa-commenting-o
    md-button.md-fab(aria-label="Like" ng-disabled='!activePost' ng-click='like()')
        i.fa.fa-heart-o
    md-button.md-fab.tiny(aria-label="External" ng-disabled='!activePost' style='padding-left: 0px;'
        ng-click='externalURL')
        i.fa.fa-external-link
    //md-button.md-fab.tiny(aria-label="More" ng-disabled='!activePost' )
        i.fa.fa-ellipsis-v






