.publish-button {
    vertical-align: top;
    width: 40%;
    padding: 0;
    height: 36px;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: -2px;
}

.small-description {
    font-size: 0.5em;
    color: #888;
}

.posts-list {
    list-style-type: none;
    font-size: 1rem;
    margin: 0;
    clear: both;
}
.posts-list li {
    margin-bottom: 1.5rem;
}
.posts-list li .header {
    margin: 0 0.5rem 0.5rem 0.5rem;
}
.posts-list .score {
    color: #A2A2A2;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 10px;
    width: 50px;
    display: inline-block;
    text-align: right;
    font-family: verdana,arial,helvetica,sans-serif;
}
.score.negative {
    color: #D67F7F;
}
.posts-list .title {
    max-width: 100%;
}
.visited {
    color: #6B00BA;
}
.truncate {
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pub-post-score {
    width: 80px;
    padding-top: 16px;
}

.pubs-title {
    padding-top: 10px;
    padding-bottom: 11px;
    font-size: 1.2em;
}
.pubs-title img {
    width: 183px;
    margin-top: 5px;
}

.pub-bottom-break {
    text-align: center;
    margin-bottom: 17px;
}
.pub-bottom-break img {
    width: 183px;
}

#disqus_thread {
    margin: 18px;
}

.personal-data-alert {
    padding: 14px 14px 0;
    text-indent: 1px;
    font-size: 0.9em;
}
.personal-data-alert .fa {
    padding-right: 8px;
}
.post-header {
    margin-top: 25px;
}
.post-title {
    display: inline-block;
    vertical-align: top;
}
.vote-control {
    display: inline-block;
    width: 30px;
    margin: -8px 10px;
    text-align: center;
}
.vote-button {
    cursor: pointer;
}
.liked {
    color: #ffb045;
}
.disliked {
    color: #ff5845;
}
.post-preview-title {
    padding: 14px 14px 0;
}
#main-footer {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}
.publish-back-button {
    width: 10%;
    margin-bottom: 0;
}

#add-link {
    margin: 0 10px;
    width: auto;
}
#add-link input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
}
#add-link button {
    float: right;
}

.cut {
    position: relative;
    text-align: center;
}
.cut .torn {
    height: 27px;
    width: 100%;
    background: url('/assets/img/torn.png');
    background-size: 95px;
    position: absolute;
    top: -25px;
}
.cut button {
    margin: 14px;
    padding: 3px 60px;
    white-space: nowrap;
}

.cut-image {
    max-height: 500px;
    overflow: hidden;
}

.image-container {
    margin: 0 3rem;
}

#posts-control {
    position: absolute;
    bottom: 75px;
    width: 100%;
    text-align: center;
    height: 0px;
    overflow: visible;
}

#posts-control button.md-fab {
    opacity: 0.92;
    margin: 0px 18px;
}

#posts-control button i {
    color: #68C168;
    transition: 0.3s;
}

#posts-control button[disabled] i {
    color: #DCDCDC;
}

#posts-control button[disabled] {
    background: #FFF;
}

#posts-control button.tiny {
    width: 37px;
    height: 37px;
    line-height: 0;
    padding: 0;
}

a.md-button.md-fab:not([disabled]).md-focused, .md-button.md-fab:not([disabled]).md-focused {
    background-color: white !important;
}