.chat
    .post-header
        .vote-control
            .vote-button(ng-click='like()', ng-class='{liked: liked}')
                i.fa.fa-arrow-up
            .score {{ post.score + liked - disliked}}
            .vote-button(ng-click='dislike()', ng-class='{disliked: disliked}')
                i.fa.fa-arrow-down
        .post-title
            h5 {{ post.title }}
    messages(session='post.chat', preview='true')
    .center(style='padding-top: 27px')
        button(ng-click="router.goto('pubsList')")
            i.fa.fa-th-list
            |  Смотреть другие публикации
        button(ng-click="router.openOnTop('random')")
            i.fa.fa-refresh
            |  Чат наугад
    .pub-bottom-break
        img(src='assets/img/page-break.png')
    #disqus_thread
    .bottom-placeholder