<div class="chat">
    <div class="post-header">
        <div class="vote-control">
            <div ng-click="like()" class="vote-button" ng-class="{liked: liked}"><i class="fa fa-arrow-up"></i></div>
            <div class="score">{{ post.score + liked - disliked}}</div>
            <div ng-click="dislike()" class="vote-button" ng-class="{disliked: disliked}"><i
                    class="fa fa-arrow-down"></i></div>
        </div>
        <div class="post-title"><h5>{{ post.title }} {{ duration }}</h5></div>
    </div>
    <messages session="post.chat" preview="true"></messages>

    <div class="center" style="padding-top: 27px">
        <button ng-click="router.goto('pubsList')" class="">
            <i class="fa fa-th-list"></i> Смотреть другие публикации
        </button>
        <button ng-click="router.openOnTop('random')">
            <i class="fa fa-refresh"></i> Чат наугад
        </button>
    </div>

    <div class="pub-bottom-break">
        <img src="assets/img/page-break.png">
    </div>

    <div id="disqus_thread"></div>

    <div class="bottom-placeholder"></div>
</div>
