.chat
    .personal-data-alert
        i.fa.fa-info
        | {{'publish.preview.info1' | translate }}
        br
        | {{'publish.preview.info2' | translate }}
        a(ng-click='showMoreInfo=true', ng-hide='showMoreInfo') &nbsp;{{'publish.preview.more' | translate }}
        div(ng-show='showMoreInfo')
            | {{'publish.preview.info3' | translate }}
            br
            | {{'publish.preview.info4' | translate }}
    .post-preview-title
        input(type='text', ng-model='preview.title', placeholder="{{'publish.preview.title' | translate }}", autocomplete='off', allow-text-select='')
    messages(session='preview.session')
    .bottom-placeholder
.context-menu-container(context-menu)
    .context-menu
        div(ng-include="'app/messages/editMessageDialog.html?'+version")