<div class="row">
    <div class="small-12 pt1rem">
        <div class="ta-center">
            <button ng-click="goto('random')">Перейти к чату</button>
            <div ng-show="posts.length > 0" class="pubs-title">
                <div>Опубликованные истории:</div>
                <img src="assets/img/page-break.png">
            </div>
        </div>

        <ul class="posts-list"
            infinite-scroll-disabled="disableAutoload"
            infinite-scroll="loadMore()"
            infinite-scroll-distance="1">
            <li ng-repeat="post in posts">
                <span class="title">
                    <a ng-href="/pub/{{post.id}}/{{post.slug}}">{{ post.title }}</a>
                </span>
            </li>
        </ul>

        <spinner ng-show="loading" spinner-color="green"></spinner>
    </div>
</div>



