<div class="row">
    <div class="small-12 pt1rem">
        <div class="ta-center">
            <button ng-click="goto('random')">Перейти к чату</button>
            <div ng-show="posts.length > 0" class="pubs-title">
                <div>Опубликованные чаты:</div>
                <img src="assets/img/page-break.png">
            </div>
        </div>

        <ul class="posts-list"
            infinite-scroll-disabled="disableAutoload"
            infinite-scroll="loadSaved() || loadMore()"
            infinite-scroll-distance="1"
            infinite-scroll-container='".main-section"'>
            <li ng-repeat="post in posts">
                <span class="score" ng-class="{negative: post.score < 0}">{{ post.score }}</span>
                <span>
                    <a class="title truncate" ng-class="{visited: post.visited}"
                       ng-attr-id="{{ 'post-' + post.id }}" ng-click="saveState(post)"
                       ng-href="/pub/{{post.id}}/{{post.slug}}">{{ post.title }}</a>
                </span>
            </li>
        </ul>

        <spinner ng-show="loading" spinner-color="green"></spinner>
    </div>
</div>



