.row
    button(ng-click='postUrl()' ng-disabled='publishing') Добавить запись
    input(ng-model='url' placeholder='https://сайт.com/ссылка_на_интересное' style='width: 400px')
    .ta-center.top-margin
        // button(ng-click="goto('random')") Перейти к чату
        .pubs-title(ng-show='posts.length > 0')
            div Интересное:
            div.small-description Ссылки на интересные темы, которые можно обсудить
            div
                img(src='assets/img/page-break.png')

    md-virtual-repeat-container.posts-list(style='height: 300px')
        .repeated-item(md-virtual-repeat='post in dynamicItems',
                md-on-demand='', flex='', style='height: 80px')
            span.score(ng-class='{negative: post.score < 0}') {{ post.score }}
            span
                a.title.truncate(ng-class='{visited: post.visited}', ng-attr-id="{{ 'post-' + post.id }}", ng-click='saveState(post)', ng-href='/pub/{{post.id}}/{{post.slug}}') {{ post.title }}
    //spinner(ng-show='loading', spinner-color='green')
