.row
    .ta-center.top-margin
        // button(ng-click="goto('random')") Перейти к чату
        .pubs-title(ng-show='posts.length > 0')
            div(translate='pubs.title')
            div.small-description(translate='pubs.description')
            div
                img(src='assets/img/page-break.png')

    div#add-link(ng-show='posts.length > 0')
        input(type='text' ng-model='url', placeholder="{{ 'pubs.urlPlaceholder' | translate }}")
        span {{ postUrlNotice | translate }}
        button(ng-click='postUrl()' ng-disabled='publishing' translate='pubs.addUrl')

    ul.posts-list(infinite-scroll-disabled='disableAutoload',
        infinite-scroll='loadSaved() || loadMore()', infinite-scroll-distance='1',
        infinite-scroll-container='".main-section"')
        li(ng-repeat='post in posts')
            post(model="post")
    div(ng-hide='skipSignIn || vkSignedIn')
        | Для непрерывной ленты нужно&nbsp;
        a(ng-click="signinVk()") авторизоваться.
        button(ng-click='skip()')
            | Пропустить (подгрузить еще 3 поста)
    spinner.top-margin(ng-show='loading', spinner-color='green')