.row.pub
    // .categories
        .intro
            | Привет, как себя чувствуешь? Хочется:
        .tiles
            .tile.c1 Приколы
                .small (посмеяться)
            .tile.c2 Красивое
                .small (любоваться)
            .tile.c3 Интересное
                .small (поразмышлять)
            .tile.c4 Душевное
                .small (чувствовать)
        //.tile.more(ng-click='showMore=true' ng-hide='showMore') Еще...

    .ta-center.top-margin
        .pubs-title(ng-show='posts.items.length > 0')
            div(translate='pubs.title')
            //div.small-description(translate='pubs.description')
            //div
                img(src='assets/img/page-break.png')

    div#add-link(ng-show='debug && posts.items.length > 0')
        input(type='text' ng-model='url', placeholder="{{ 'pubs.urlPlaceholder' | translate }}")
        span {{ postUrlNotice | translate }}
        button(ng-click='postUrl()' ng-disabled='publishing' translate='pubs.addUrl')

    ul.posts-list(infinite-scroll-disabled='posts.disableAutoload',
        infinite-scroll='loadSaved() || loadMore()', infinite-scroll-distance='1',
        infinite-scroll-container='".main-section"')
        li(ng-repeat='post in posts.items')
            post(model="post")
    spinner.top-margin(ng-show='loading', spinner-color='green')
