.row.pub
    .ta-center.top-margin
        .pubs-title(ng-show='posts.items.length > 0')
            div(translate='pubs.title')
            //div.small-description(translate='pubs.description')
            //div
                img(src='assets/img/page-break.png')
    
    a(ng-click='addPost()' ng-hide='canAddPost')
        span Добавить запись

    .separator

    div(ng-show='canAddPost')
        input(type='text' ng-model='posts.text', placeholder="Введите запись сюда")
        span {{ postNotice | translate }}
        button(ng-click='post()' ng-disabled='publishing') Добавить
    // div#add-link(ng-show='debug')
        input(type='text' ng-model='url', placeholder="{{ 'pubs.urlPlaceholder' | translate }}")
        span {{ postUrlNotice | translate }}
        button(ng-click='postUrl()' ng-disabled='publishing' translate='pubs.addUrl')

    ul.posts-list(infinite-scroll-disabled='posts.disableAutoload',
        infinite-scroll='loadSaved() || loadMore()',
        infinite-scroll-container='".main-section"',
        infinite-scroll-distance='1')
        li(ng-repeat='post in posts.items')
            tweet(tweet="post")
    spinner.top-margin(ng-show='posts.loading', spinner-color='green')
    
#few-scores-alert.reveal-modal(data-reveal='', aria-hidden='true', role='dialog')
    h1 Недостаточно очков, чтобы делать публичные посты
    
    p Очки набираются во время чата (Отображаются справа вверху, рядом с аватаркой)
    
    div
        button(ng-click='closeScoresAlert()') Продолжить