.row
    .ta-center.top-margin
        // button(ng-click="goto('random')") Перейти к чату
        .pubs-title(ng-show='posts.length > 0')
            div Интересное:
            div.small-description Ссылки на интересные темы, которые можно обсудить
            div
                img(src='assets/img/page-break.png')

    div#add-link(ng-show='posts.length > 0')
        input(type='text' ng-model='url' placeholder='https://сайт.com/ссылка_на_интересное')
        span(ng-bind='postUrlNotice')
        button(ng-click='postUrl()' ng-disabled='publishing') Добавить запись

    ul.posts-list(infinite-scroll-disabled='disableAutoload',
        infinite-scroll='loadSaved() || loadMore()', infinite-scroll-distance='1',
        infinite-scroll-container='".main-section"')
        li(ng-repeat='post in posts' ng-switch="post.category"
            in-view="postVisibility($inview, post)" in-view-options="{ offsetTop: 300, offsetBottom: -250 }")
            // span.score(ng-class='{negative: post.score < 0}') {{ post.score }}
            div.header
                div.title {{ post.title }}
            div.image-container(ng-class='{"cut-image": post.cutImage}')
                img(ng-switch-when='link' ng-src='{{post.data.link.image_url}}' cut-image='cutImage(post)')
            div.cut(ng-show='post.cutImage')
                div.torn
                button(ng-click='post.cutImage = false')
                     i.fa.fa-angle-double-down
                     |  &nbsp;Показать&nbsp;полностью
            div.separator
    spinner.top-margin(ng-show='loading', spinner-color='green')
