.no-select
    .menu-ava-container(ng-click='isChangeAvaMenuShown ? false : showChangeAvatarMenu()', ng-show='user.name' )
        img.rounded-ava.pointer(ng-src='{{user.avatar.urlMini}}', alt='ava', imageonload='imageLoadedHandler()', ng-click='isChangeAvaMenuShown ? generateNewAvatar() : false')
        span.text-bold(ng-bind='user.name', ng-hide='true')
        span.text-bold &nbsp;Ваша аватарка
        .inline-block(ng-show='isChangeAvaMenuShown', ng-class="{'animated fadeIn': isChangeAvaMenuShown}", stop-event='')
            .change-ava-button(ng-click='applyCurrentAvatar()')
                i.fa.fa-check
            .change-ava-button(ng-click='restoreDefaultAvatar()')
                i.fa.fa-close
            .change-ava-button(ng-click='goToLoadAvatar()')
                i.fa.fa-upload
            .inline-block(ng-show='isAvaLoading', spinner='', spinner-color='white')
    ul.off-canvas-list
        li(ng-show='debug && user.isVirtual')
            a(ng-click="goto('updateProfile')") Зарегистрироваться
        li
            a.menu-item(ng-click="goto('pubsList')")
                i.fa.fa-thumbs-o-up
                | Паблик
        li(ng-show='fullMode')
            a.menu-item(ng-click="goto('chats')")
                i.fa.fa-envelope
                | Чаты
                span.menu-new-messages-number(ng-show='!!user.unreadChatsAmount', ng-bind='user.unreadChatsAmount')
        li(ng-show='fullMode')
            a.menu-item(ng-click="goto('friends')")
                i.fa.fa-group
                | Контакты
        li(ng-show='fullMode')
            a.menu-item(ng-click="goto('friendSearch')")
                i.fa.fa-plus
                | Добавить контакт
        li
            a.menu-item(ng-click="goto('random')")
                i.fa.fa-refresh
                | Чат наугад
        li(ng-show='fullMode')
            a.menu-item(ng-click="goto('settings')")
                i.fa.fa-gear
                | Настройки
        li
            a.menu-item.pointer(ng-click="openExternalURL('https://vk.com/dub_ink')")
                i.fa.fa-vk
                | Группа ВК
        li
            a.menu-item(ng-click="goto('about')")
                i.fa.fa-info-circle
                | О проекте
        li(ng-show='fullMode || debug')
            a.menu-item(ng-click="goto('exit')")
                i.fa.fa-power-off
                | Выход
        li.app-setup-item(ng-hide='RAN_AS_APP || true')
            a.menu-item(href='https://play.google.com/store/apps/details?id=com.phonegap.dubink', target='_blank')
                i.fa.fa-mobile
                |                 Установить
                br
                | приложение
        li
            a.menu-item(ng-click='sendDebugInfo()', ng-show='debug')
                i.fa.fa-life-ring
                | отправить слепок
            div(spinner='', spinner-color='white', ng-show='showDebugPreloader')
        li
            a.menu-item(ng-click='toggleSound()')
                i.fa(ng-class="soundEnabled ? 'fa-volume-up' : 'fa-volume-off'")
                | Звук
