<div overscrollable-without-footer ng-swipe-right="openMenu()" ng-swipe-left="closeMenu()" >
    <div class="pt1rem ta-center width-92 block-center ta-center" ng-switch="screenToShow">
        <div ng-switch-when="phoneEnter">
           <form name="reg">
               <div class="width-92 inline-block">
                   <input type="text" international-phone-number preferred-countries="ru" ng-model="newUser.phone">
               </div>
               <div class="squaredFour" ng-hide="isIn">
                   <input type="checkbox" value="None" id="squaredFour" name="isAgreed" ng-model="newUser.isAgreed" />
                   <label for="squaredFour"></label>
                   я прочитал и согласен с  
                   <a class="text-underline" href="#/about">правилами сервиса</a>
               </div> 
               <div class="width-92 inline-block" ng-show="!isIn">
                   <button ng-click="initRegistration()" class="button loginRegisterButton" ng-disabled="showSpinner || reg.$invalid || !newUser.isAgreed">
                       <span ng-show="!showSpinner">Получить смс</span>
                       <span ng-show="showSpinner" spinner spinner-color="white"></span>
                   </button>
               </div>
           </form>
       
       
           <div ng-hide="isWeb">
               Вы также можете отправить смс на специальный номер <br>
               <span class="text-bold">
                   За отправку смс снимается сумма, согласно тарифу
               </span>
               <br>
               <div class="ta-center">
                   <button ng-click="sendSms()">Отправить смс</button>
               </div>
           </div>
           <div class="row text-silver">
               <a href="#/signinup/up">
                   <div class="small-10 columns">
                       <span>зарегистрироваться без телефона</span>
                   </div>
                   <div class="small-2 columns">
                       <i class="fa fa-arrow-right"></i>
                   </div>
               </a>
           </div>
           <div class="width-92 line"></div>
           <div class="text-silver">
            <a href="#/signinup/in">войти</a>  
           </div>
           <div ng-model="serverResponse" alert-box class="width-92 block-center pt1rem"></div>
       </div>
       
       <div ng-switch-when="phoneConfirm">
           <form name="confirm">
               <div class="width-92 inline-block">
                  <input name="phone" type="text" ng-model="newUser.confirmCode" placeholder="код подтверждения" required>
               </div>
               <div class="width-92 inline-block" ng-show="!isIn">
                   <button ng-click="confirmPhoneNumber()" class="button loginRegisterButton" ng-disabled="showSpinner || confirm.$invalid">
                       <span ng-show="!showSpinner">Подтвердить</span>
                       <span ng-show="showSpinner" spinner spinner-color="white"></span>
                   </button>
               </div>
           </form>
           <div class="row text-silver">
               <div class="small-12 columns" ng-click="goToEnterPhase()">
                   <i class="fa fa-arrow-left"></i>
                   <span>ввести другой номер</span>
               </div>
           </div>
           <div ng-model="serverResponse" class="width-92 block-center pt1rem" alert-box></div>
       </div>
       
       <div ng-switch-when="afterSmsSending">
           <div class="ta-center">
               Пожалуйста подождите, идет регистрация номера
               <span ng-show="showSpinner" spinner></span>
               <div ng-model="serverResponse" alert-box class="width-92 block-center"></div>
           </div>
        </div>
    </div>
</div>