<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.dubink" version="1.2.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Dub.ink</name>
    <description>
        Simple chat
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        David Stepanov
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-gap:splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="7000" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="fade-splash-screen-duration" value="5" />
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="com.ququplay.websocket.websocket" version="0.1.0" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
    <gap:plugin name="cc.fovea.cordova.purchase" source="npm" version="4.0.0">
        <param name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoBJtRgDMonlqRRnvGwYl2gUwXsCIcjOL8n3u4awRcfYQmwXgogdTaR0Yh9Ly0fnApkwzIr9P03Z/9aVF1YXTNJHY/5nAGjED94kYvXRULWw5zK3ro55lGtLowYVfy6SHdULKfOTu9XqtriRl8kPMuSca/hEKLLfZItF+xnttP5b5VJxf4OzDBLxGRZRfM1YKmY9Ab+1XkcUc3GgsNBwTl5FmLg1GJP0grQhsD1XsZODoshGys/2doZeTWPKitIienSSYn/G8Uu0QOedWKYnmYuqfWnE1yFufVz5QsEQGDNFDJgV26F1G9Mhm8njBzf7PUdHiw/QytIzCzourXpSmuQIDAQAB"/>
    </gap:plugin>
     <gap:config-file platform="android" parent="/manifest" mode="delete">
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    </gap:config-file> 
    <gap:plugin name="com.danielcwilson.plugins.googleanalytics" version="0.6.1" />
    <gap:plugin name="com.ionic.keyboard" version="1.0.3" />
    <!-- <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.5.0" /> -->
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.0" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/drawable-ldpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/drawable-mdpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/drawable-hdpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/drawable-xhdpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/drawable-xxhdpi/appicon.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icon/android/drawable-xxxhdpi/appicon.png" />
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="res/icon/ios/appicon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/appicon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/appicon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/icon/ios/appicon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/appicon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/appicon.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/appicon@2x.png" gap:platform="ios" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/icon/ios/appicon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/appicon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icon/ios/appicon-Small.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/appicon-Small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="res/icon/ios/appicon-Small@3x.png" gap:platform="ios" width="87" height="87" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icon/ios/appicon-Small-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="res/icon/ios/appicon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />
    <!-- you can use any density that exists in the Android project -->
    <gap:splash src="res/screen/android/drawable-hdpi/screen.png" gap:platform="android" gap:qualifier="hdpi"/>
    <gap:splash src="res/screen/android/drawable-ldpi/screen.png" gap:platform="android" gap:qualifier="ldpi"/>
    <gap:splash src="res/screen/android/drawable-mdpi/screen.png" gap:platform="android" gap:qualifier="mdpi"/>
    <gap:splash src="res/screen/android/drawable-xhdpi/screen.png" gap:platform="android" gap:qualifier="xhdpi"/>
    <gap:splash src="res/screen/android/drawable-xxhdpi/screen.png" gap:platform="android" gap:qualifier="xxhdpi"/>
    <!-- images are determined by width and height. The following are supported -->
    <gap:splash src="res/screen/ios/Default~iPhone.png" gap:platform="ios" width="320" height="480"/>
    <gap:splash src="res/screen/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960"/>
    <gap:splash src="res/screen/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136"/>
    <gap:splash src="res/screen/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334"/>
    <gap:splash src="res/screen/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208"/>
    <gap:config-file platform="android" parent="/manifest/application"> <activity android:launchMode="singleTask" /> </gap:config-file>
    <access origin="*" />
    <feature name="Keyboard">
        <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>
</widget>
