.wrapper.chat-header

    .header-title(ng-hide='s.active || routing.is_preload', ui-view='title')

    .pointer(style='float:left' ng-click='s.partnerTitleClickHandler()'
        ng-show='s.active && !routing.is_preload')
        img.ava(style='float: left;' ng-show='s.partner.ava_url', ng-src='{{s.partner.ava_url}}')
        .title(style='text-align: left;')
            .scores
                span(ng-bind='partnerScores.score')
                span.recent-score(ng-bind='partnerScores.recentScoreFormatted'
                    ng-style='{opacity: partnerScores.recentOpacity}' ng-class='partnerScores.class')
            .name(style='float: left;' ng-bind='s.partner.title')
            span.typing(ng-show='notification.typing', ng-bind='notification.typing_label')
            span(ng-include="'app/utils/complaintMenu.html?'+version", ng-controller='complaintController')

    div(style='float:right' )
        .title
            .scores
                span.recent-score(ng-bind='myScores.recentScoreFormatted'
                    ng-style='{opacity: myScores.recentOpacity}' ng-class='partnerScores.class')
                span(ng-bind='myScores.score')
            .name(style='float: right;' ng-bind='s.me.title')
        img.ava(style='float: right;' ng-show='s.me.ava_url', ng-src='{{s.me.ava_url}}' ng-click='myAvaClick()')

    div(ng-show='s.active && !routing.is_preload')
        span.time_zone
            span(ng-bind='notification.time')
        a.icon_button(ng-click='publish()', title='Предварительный просмотр для публикации чата')
            i.fa.fa-share-square-o
