.chat h5 {
    margin: 15px 20px;
}

.chat .bottom-placeholder {
    height: 8px;
}


.chat-title {
    height: 31px;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3rem;
}

.chat-right-tool {
    width:auto;
}
.chat-right-tool>div {
    float:left;
}

#alert {
    position: absolute;
    top: -59px;
    left: 10px;
}

.share_it {
    padding-bottom: 8px;
    font-size: 0.9em;
    font-weight: bold;
}
.share_it i {
    margin-left: 13px;
}

.share_block {
    text-align: left;
    margin: 15px 35px 0;
}
#vk_like {
    margin-bottom: 13px;
}

.help {
    margin-top: 19px;
    text-align: left;
    text-indent: 30px;
}

.input-panel .background {
    background-color: #EAF0F1;
}

.input-panel .wrapper {
    padding: 8px 0px 2px 0px;
    background-color: #253335;
}

.chat-left-buttons {
    display: inline-block;
    position: relative;
    width: 80%;
}
.chat-left-buttons-oldandroid {
    width: 99%;
}


.chat-header .title {
    display: inline-block;
    float: left;
    margin: 7px 5px;
}
.chat-header .ava {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 6px;
}
.chat-header .scores {
    line-height: 10px;
    font-size: 14px;
}
.chat-header .recent-score {
    font-size: 10px;
    color: chartreuse;
    margin: 2px;
}

.chat-header .name {
    font-size: 18px;
    line-height: 18px;
}




.middle-title {
    float: left;
}

.header-title {
    float: left;
}