.input-panel(ng-controller='inputPanelController')
    #footer
        //.appropriateStickers-container(ng-show='appropriateStickers.length', ng-class="{'animated fadeIn': appropriateStickers.length}")
        //    img(ng-src='{{::image.url}}', ng-repeat='image in appropriateStickers track by $index', ng-click='::sendAppropriateSticker(image.url)')
        .wrapper
            #alert(ng-model='errorDescription', alert-box='')
        .background
            .wrapper
                .chat-left-buttons(ng-class="{'chat-left-buttons-oldandroid': deviceInfo.isOldAndroid || deviceInfo.isIos}")
                    .chat-image-button.pointer(ngf-select='uploadImage()', ng-model='image.file', name='data')
                        i.fa.fa-camera
                    .chat-input-container
                        input.chat-input(placeholder="{{'chat.placeholder' | translate }}", type='text', ng-focus='onInputFieldFocus()', ng-model='newMessage.text', ng-keydown='input_keypress($event)', ng-change='findAppropriateStiker()', data-snap-ignore='true')
                    .chat-gallery-button.pointer(ng-click='toggleGalleryPanel()' ng-focus="setFocusOnTextField()")
                        img(src="assets/img/gallery-smile.png")
                button.chat-send.ng-animate-disabled(ng-focus='setFocusOnTextField()', ng-click='sendMessage()', ng-show='!(deviceInfo.isOldAndroid || deviceInfo.isIos)')
                    i.fa.fa-paper-plane(ng-show='!isMessageSending')
                    span(ng-show='isMessageSending', spinner='', spinner-color='white')
        div(ng-include="'app/media/gallery/galleryPanel.html?'+version", ng-controller='galleryPanelController')