div(ng-controller='inputPanelController')
    #footer
        .appropriateStickers-container(ng-show='appropriateStickers.length', ng-class="{'animated fadeIn': appropriateStickers.length}")
            img(ng-src='{{::image.url}}', ng-repeat='image in appropriateStickers track by $index', ng-click='::sendAppropriateSticker(image.url)')
        #alert(ng-model='errorDescription', alert-box='')
        .chat-buttons-container
            .chat-left-buttons(ng-class="{'chat-left-buttons-oldandroid': deviceInfo.isOldAndroid}")
                .chat-image-button.pointer(ng-file-select='', ng-model='image.file', ng-file-change='uploadImage()', name='data')
                    i.fa.fa-image
                .chat-input-container
                    input.chat-input(type='text', ng-focus='onInputFieldFocus()', ng-model='newMessage.text', ng-keypress='input_keypress($event)', ng-change='findAppropriateStiker()', data-snap-ignore='true')
            button.chat-send.ng-animate-disabled(ng-focus='setFocusOnTextField()', ng-click='sendMessage()', ng-show='!deviceInfo.isOldAndroid')
                i.fa.fa-paper-plane(ng-show='!isMessageSending')
                span(ng-show='isMessageSending', spinner='', spinner-color='white')
