.row.top-margin.ta-center(ng-controller='standardNavigationController')
    button(ng-click="router.changeChatState('randomFull')")
        i.fa.fa-refresh
        |&nbsp;{{ 'menu.random' | translate }}
    br