.hide-x(ng-controller='randomController')
    .random-header
        .row(ng-hide='random.lookupInProgress || updates.reloading || leaving')
            .columns.small-12.ta-center(ng-class="{'relaunch-buttons': isRestart}")
                .row.search-status.complaint-message(ng-show='showComplaintSuccess')
                    .small-12.columns.ta-center
                        | Модератор проверит чат и проучит негодяев, спасибо за уведомление!
                button(ng-hide='random.waitingServer', ng-click='lookForChat()')
                    span
                        | {{ 'random.lookForChat' | translate }}&nbsp;
                        i.fa.fa-weixin
                button(ng-show='isRestart', ng-click='filterSettings()')
                    span
                        | {{ 'random.settings' | translate }}&nbsp;
                        i.fa.fa-sliders
        .row(ng-show='updates.reloading')
            br
            .small-12.columns.ta-center {{ 'random.reloading' | translate }}
            br
            br
        div(ng-show='random.lookupInProgress && !leaving' style='padding-bottom: 10px;')
            .row.search-status
                .small-12.columns.ta-center(ng-hide='notification.asked > 0' translate='random.searchStatus1')
                .small-12.columns.ta-center(ng-show='notification.asked > 0') {{ 'random.searchStatus2' | translate }}&nbsp;{{notification.asked}}...
            .row
                .columns.small-12.ta-center
                    button.bg-red(ng-click='cancelLookingFor()')
                        span(ng-hide='random.waitingServer' translate='random.cancelLookingFor')
                        div(ng-show='random.waitingServer', spinner='', spinner-color='white')
    .row.mob-info(ng-show='!hideMobileAD && !random.lookupInProgress && !IS_APP && IS_MOBILE && IS_ANDROID')
        a(target='_blank' style='float: right' href='https://play.google.com/store/apps/details?id=com.phonegap.dubink')
            img(alt='Get it on Google Play', src='https://developer.android.com/images/brand/ru_generic_rgb_wo_60.png')
        div
            | {{ 'random.mobinfo1' | translate }}
        a(ng-click='closeMobileAd()') {{ 'Close' | translate }}



    // Temporary for test:
    a(data-dropdown='drop1', aria-controls='drop1', aria-expanded='false') Has Dropdown
    a(data-dropdown='drop2', aria-controls='drop2', aria-expanded='false') Has Content Dropdown


    #searchParameters(ng-hide='isRestart || leaving || isLookingAgain')
        .row
            .columns.small-12
                .row.fab-buttons-container
                    .small-3.columns
                        | {{ 'random.theme' | translate }}
                        md-fab-speed-dial.md-fling(md-direction='down', md-open='filter.theme.isOpened')
                            md-fab-trigger
                                md-button.md-fab(aria-label='menu', ng-class="{'forbid-fab': filter.theme.value === -1}")
                                    img(ng-show='filter.theme.value === -1', ng-src='assets/img/theme-forbid.png')
                                    img(ng-show='filter.theme.value === 0', ng-src='assets/img/theme-unselected.png')
                                    img(ng-show='filter.theme.value === 1', ng-src='assets/img/theme-prefer.png')
                                    img(ng-show='filter.theme.value === 2', ng-src='assets/img/theme-require.png')
                            md-fab-actions
                                md-button.md-fab.md-raised.md-mini(aria-label='twitter', ng-click='filter.theme.selectValue(0)')
                                    .fab-empty-div
                                    .fab-title.fab-title-right(translate='random.notSet')
                                md-button.md-fab.md-raised.md-mini(aria-label='Google hangout', ng-click='filter.theme.selectValue(1)')
                                    img(src='assets/img/prefer.png', alt='prefer')
                                    .fab-title.fab-title-right(translate='random.prefer')
                                md-button.md-fab.md-raised.md-mini(aria-label='Google hangout', ng-click='filter.theme.selectValue(2)')
                                    img(src='assets/img/require.png', alt='require')
                                    .fab-title.fab-title-right(translate='random.require')
                                md-button.md-fab.md-raised.md-mini(aria-label='facebook', ng-click='filter.theme.selectValue(-1)')
                                    img(src='assets/img/forbid.png', alt='forbid')
                                    .fab-title.fab-title-right(translate='random.forbid')
                    .small-3.columns
                        | {{ 'random.geo' | translate }}
                        md-fab-speed-dial.md-fling(md-direction='down', md-open='filter.geo.isOpened')
                            md-fab-trigger
                                md-button.md-fab(aria-label='menu', ng-class="{'forbid-fab': filter.geo.value === -1}")
                                    img(ng-show='filter.geo.value === 0', ng-src='assets/img/geo-unselected.png')
                                    img(ng-show='filter.geo.value === -1', ng-src='assets/img/geo-forbid.png')
                                    img(ng-show='filter.geo.value === 1', ng-src='assets/img/geo-prefer.png')
                                    img(ng-show='filter.geo.value === 2', ng-src='assets/img/geo-require.png')
                            md-fab-actions
                                md-button.md-fab.md-raised.md-mini(aria-label='twitter', ng-click='filter.geo.selectValue(0)')
                                    .fab-empty-div
                                    .fab-title.fab-title-right(translate='random.notSet')
                                md-button.md-fab.md-raised.md-mini(aria-label='Google hangout', ng-click='filter.geo.selectValue(1)')
                                    img(src='assets/img/prefer.png', alt='prefer')
                                    .fab-title.fab-title-right(translate='random.prefer')
                                md-button.md-fab.md-raised.md-mini(aria-label='Google hangout', ng-click='filter.geo.selectValue(2)')
                                    img(src='assets/img/require.png', alt='require')
                                    .fab-title.fab-title-right(translate='random.require')
                                md-button.md-fab.md-raised.md-mini(aria-label='facebook', ng-click='filter.geo.selectValue(-1)')
                                    img(src='assets/img/forbid.png', alt='forbid')
                                    .fab-title.fab-title-right(translate='random.forbid')
                    .small-3.columns
                        | {{ 'random.sex' | translate }}
                        md-fab-speed-dial.md-fling(md-direction='down', md-open='filter.sex.isOpened')
                            md-fab-trigger
                                md-button.md-fab(aria-label='menu', ng-class="{'forbid-fab': filter.sex.value === -1}")
                                    img(ng-show='filter.sex.value === 0', ng-src='assets/img/sex-unselected.png')
                                    img(ng-show='filter.sex.value === -1', ng-src='assets/img/sex-forbid.png')
                                    img(ng-show='filter.sex.value === 1', ng-src='assets/img/sex-prefer.png')
                                    img(ng-show='filter.sex.value === 2', ng-src='assets/img/sex-require.png')
                            md-fab-actions
                                md-button.md-fab.md-raised.md-mini(aria-label='twitter', ng-click='filter.sex.selectValue(0)')
                                    .fab-title.fab-title-left(translate='random.notSet')
                                    .fab-empty-div
                                md-button.md-fab.md-raised.md-mini(aria-label='Google hangout', ng-click='filter.sex.selectValue(1)')
                                    .fab-title.fab-title-left(translate='random.prefer')
                                    img(src='assets/img/prefer.png', alt='prefer')
                                md-button.md-fab.md-raised.md-mini(aria-label='Google hangout', ng-click='filter.sex.selectValue(2)')
                                    .fab-title.fab-title-left(translate='random.require')
                                    img(src='assets/img/require.png', alt='require')
                                md-button.md-fab.md-raised.md-mini(aria-label='facebook', ng-click='filter.sex.selectValue(-1)')
                                    .fab-title.fab-title-left(translate='random.forbid')
                                    img(src='assets/img/forbid.png', alt='forbid')
                    .small-3.columns
                        | {{ 'random.video' | translate }}
                        md-fab-speed-dial.md-fling(md-direction='down', md-open='filter.video.isOpened')
                            md-fab-trigger
                                md-button.md-fab(aria-label='menu', ng-class="{'forbid-fab': filter.video.value === -1}")
                                    img(ng-show='filter.video.value === 0', ng-src='assets/img/video-unselected.png')
                                    img(ng-show='filter.video.value === -1', ng-src='assets/img/video-forbid.png')
                                    img(ng-show='filter.video.value === 1', ng-src='assets/img/video-prefer.png')
                                    img(ng-show='filter.video.value === 2', ng-src='assets/img/video-require.png')
                            md-fab-actions
                                md-button.md-fab.md-raised.md-mini(aria-label='twitter', ng-click='filter.video.selectValue(0)')
                                    .fab-title.fab-title-left(translate='random.notSet')
                                    .fab-empty-div
                                md-button.md-fab.md-raised.md-mini(aria-label='Google hangout', ng-click='filter.video.selectValue(1)')
                                    .fab-title.fab-title-left(translate='random.prefer')
                                    img(src='assets/img/prefer.png', alt='prefer')
                                md-button.md-fab.md-raised.md-mini(aria-label='Google hangout', ng-click='filter.video.selectValue(2)')
                                    .fab-title.fab-title-left(translate='random.require')
                                    img(src='assets/img/require.png', alt='require')
                                md-button.md-fab.md-raised.md-mini(aria-label='facebook', ng-click='filter.video.selectValue(-1)')
                                    .fab-title.fab-title-left(translate='random.forbid')
                                    img(src='assets/img/forbid.png', alt='forbid')
        .placeholder_for_fab_buttons
        #random-help.row(style='margin-bottom: 9px;')
            .small-12.ta-center.columns
                span.dashed.pointer.text-silver.no-select(ng-click='helpClick()') {{ 'random.help' | translate }}
                .help(ng-show='showHelpText', scroll-bottom='showHelpText')
                    // Вступление - это текст, который будет видеть вначале ваш собеседник. <br>
                    p(translate='random.helpText1')
                    p(translate='random.helpText2')
                    p(translate='random.helpText3')
        .row.top-margin(ng-show='false')
            .small-12.columns
                input(type='text', ng-model='filter.iam.intro', placeholder='Вступление (необязательно)')
        .row(ng-show='false')
            .small-12.columns
                input(type='text', ng-model='filter.iam.location', placeholder='Местоположение (необязательно)')
        .row
            .small-12.column.language-tags-box
                i.fa.fa-language 
                | &nbsp
                span(translate='random.languages')
                tags-input(ng-model="filter.languages" display-property="name" min-tags="2" available="filter.availableLanguages")
        .row
            .small-6.columns
                .text-bold.ta-center(translate='random.iam')
                .human-config
                    sex-select(ng-model='filter.iam.sex')
                    p.age-title.ta-center(translate='random.age')
                    age-select(multiple='false', ng-model='filter.iam.age', values='[0, 1, 2, 3, 4, 5]', titles="['random.age.noMatter', 'random.age.u17', 'random.age.f18t21', 'random.age.f22t25', 'random.age.f26t35', 'random.age.o35']")
            .small-6.columns.ta-center
                .text-bold(translate='random.another')
                .human-config
                    sex-select(ng-model='filter.another.sex', multi-select='', ng-click='suggestUserGender()')
                    p.age-title.ta-center(translate='random.age')
                    age-select(multiple='true', ng-model='filter.another.age', values='[0, 1, 2, 3, 4, 5]', titles="['random.age.noMatter', 'random.age.u17', 'random.age.f18t21', 'random.age.f22t25', 'random.age.f26t35', 'random.age.o35']")
        .row.top-margin.bottom-margin
            .small-12.ta-center
                span.text-silver.pointer(ng-click='setDefaultFilterParams()', translate='random.reset')
        br
    .center.top-margin(ng-show='leaving')
        div(spinner='', spinner-color='green')

ul#drop1.f-dropdown(data-dropdown-content='', aria-hidden='true', tabindex='-1')
    li
        a(href='#') This is a link
    li
        a(href='#') This is another
    li
        a(href='#') Yet another
#drop2.f-dropdown.content(data-dropdown-content='', aria-hidden='true', tabindex='-1')
    p
        | Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!
