.tag-item {
    display: inline-block;
    padding: 0 10px;
}

.tag-item .remove-button { 
    color: #68C168;
}
button.tags-add-button {
    min-width: inherit;
    min-height: inherit;
    line-height: inherit;
    margin: 0 3px;
    font-weight: bold;
    background-color: #C2C1C1;
    color: white;
}
button.tags-add-button:not([disabled]):hover {
    background-color: #68C168;
    color: white;
}

/*md-menu-content .md-focused,
md-menu-content .md-button:hover {
    background-color: rgb(104, 193, 104) !important;
}*/


.language-tags-box {
    text-align: center;
    margin: 8px 0;
}
.language-tags-box i {
    font-size: 20px;
}

tags-input ul {
    margin: 0 0 11px 0;
}

tags-input>div {
    display: inline-block;
}
