.system_message{
    padding: 10px 15px;
}

.share_it {
    padding-bottom: 8px;
    font-size: 0.9em;
    font-weight: bold;
}
.share_it i {
    margin-left: 13px;
}

.share_block {
    text-align: left;
    margin: 15px 35px 0;
}
#vk_like {
    margin-bottom: 13px;
}

.help {
    margin-top: 19px;
    text-align: left;
    text-indent: 30px;
}