/*here classes that must be in this directory
due to absolute path problem in app on mobile devices*/
.branded{
    background: #EAF0F1 url("../img/bg.png");
    background-size: 187px 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
