ul.age-select
  li(ng-repeat='value in values' 
      ng-class='{"text-bold": ngModel.indexOf(value) != -1, "text-silver": ngModel.indexOf(value) == -1}', 
      ng-click='::handleItemClick(value)')
    span {{titles[$index] | translate}}