<div id="registrationDialog" class="loginRegisterForm" ng-show="loginDialogVisible || registrationDialogVisible">
    <h1 ng-show="loginDialogVisible">Вход</h1>
    <h1 ng-show="registrationDialogVisible">Регистрация</h1>
  <form name="registration_form" novalidate>
    <div class="width-92 inline-block">
      <!--  <label for="reg_user_name">Имя</label> -->
        <input id="reg_user_name" name="name" type="text" ng-model="newUser.name" placeholder="Имя" required>
    </div>
    <div class="width-92 inline-block">
     <!--    <label for="reg_user_password">Пароль</label> -->
        <input id="reg_user_password" name="password" type="text" ng-model="newUser.password" placeholder="Пароль" required> 
    </div>
    <div class="width-92 inline-block">
        <a data-role="button" ng-click="loginOrRegiser(formAction,registration_form.$valid)" class="button loginRegisterButton">
            <span ng-show="loginDialogVisible && !disableLogin">Войти</span>
            <span ng-show="registrationDialogVisible  && !disableLogin" class="lessen-word">Зарегистрироваться</span> 
        </a>
    </div>
  </form>
</div>