div(ng-swipe-right='openMenu()', ng-swipe-left='closeMenu()')
    .width-92.block-center.top-margin
        .row(ng-show='user.name' )
            img.rounded-ava(ng-hide='newImage.url || newImage.file' ng-src='{{previewAvatar}}', alt='ava', imageonload='imageLoadedHandler()')
            img.rounded-ava(ng-show='newImage.url && !newImage.file', ng-src='{{newImage.url}}')
            img.rounded-ava(ngf-src='newImage.file', alt='ava')
            .inline-block(ng-show='isServerResponseShown') {{ serverResponse | translate }}
            .inline-block(ng-hide='newImage.url')
                .inline-block.change-ava-button(ng-click='generateNewAvatar()')
                    i.fa.fa-refresh
                .inline-block(ng-show='generatedNewAvatar')
                    .change-ava-button(ng-click='restoreDefaultAvatar()')
                        i.fa.fa-close
                    .change-ava-button(ng-click='applyCurrentAvatar()')
                        i.fa.fa-check
                    .inline-block(ng-show='isAvaLoading', spinner='', spinner-color='white')
        .grey-line.width-92
        .row
            input(type="file" ngf-select="uploadPhoto()" ng-model="newImage.file")
            label(translate="avatar.upload.file")
            .custom-file-input(ng-model='newImage.file', ngf-select='uploadPhoto()', name='data')
                span(ng-show='deviceInfo.IS_MOBILE', translate="avatar.upload.gallery")
                span(ng-hide='deviceInfo.IS_MOBILE', translate="avatar.upload.computer")
        .grey-line.width-92
        .row
            form(name='newImageForm')
                label(translate="avatar.url")
                input(name='url', type='url', ng-model='newImage.url', placeholder="{{ 'avatar.url.placeholder' | translate }}", required='' allow-text-select)
        .ta-center
            button(ng-disabled='!newImage.url || newImageForm.$invalid', ng-click='updateAvatarUrl()')
                span(ng-show='!isImageUploading', translate="avatar.upload")
                span(spinner='', spinner-color='white', ng-show='isImageUploading')
        .h41