<div  ng-swipe-right="openMenu()" ng-swipe-left="closeMenu()">
    <div class="width-92 block-center top-margin">
        <div class="row">
            <label>Загрузите из ваших файлов</label>
            <input type="file" class="custom-file-input" ngf-pattern="'image/*'"
                accept="image/*" ng-model="newImage.file" ngf-select="uploadPhoto()" name="data">
        </div>
        <div class="grey-line width-92"></div>
        <div class="row">
            <form name="newImageForm">
                <label>Или укажите ссылку на картинку:</label>
                <input name="url" type="text" ng-model="newImage.url" placeholder="ссылка на изображение" required>
            </form>
        </div>
        <div class="row mb1rem">
            <img ng-show="newImage.url" class="add-image-preview" ng-src="{{newImage.url}}">
        </div>
        <div class="ta-center">
            <button ng-disabled="!newImage.url || newImageForm.$invalid" ng-click="updateAvatarUrl()">
                <span ng-show="!isImageUploading">Загрузить</span>
                <span spinner spinner-color="white" ng-show="isImageUploading"></span>
            </button>
        </div>
        <div class="h41">
            <div class="ta-center" ng-show="isServerResponseShown" ng-bind="serverResponse"></div>
        </div>
    </div>
</div>