.row.top-margin
   .ta-center
      .descr
         h5 Подтвердите аккаунт чтобы прочитать сообщение
         div(ng-show='account')
            | Сообщение может прочитать лишь владелец аккаунта:&nbsp
            span(ng-repeat='provider in providers') {{ provider.account }}&nbsp
      div(ng-hide='notice')
         button(ng-repeat='provider in providers' ng-click="confirm(provider)")
            i.fa(ng-class="'fa-' + provider.provider")
            | &nbsp; Подтвердить {{ ::provider.provider }}
      div(ng-hide='providers.length')
         | Не удалось распознать тип аккаунта для входа. Возможно неверная ссылка
      div(ng-show='notice')
         | {{ notice }}