.row.top-margin(ng-hide='l.validUser')
   .ta-center
      .descr(ng-show='provider')
         h5 Подтвердите аккаунт чтобы прочитать сообщение
         div
            | Сообщение может прочитать лишь владелец аккаунта: {{ provider.account }}
      div(ng-hide='notice || !provider')
         button(ng-click="confirm(provider)")
            i.fa(ng-class="'fa-' + provider.provider")
            | &nbsp; Подтвердить {{ ::provider.provider }}
      div(ng-hide='provider')
         | Не удалось распознать тип аккаунта для входа. Возможно неверная ссылка
      div(ng-show='notice')
         | {{ notice }}
.chat.top-margin(ng-show='l.validUser')
   messages(session='l.fakeSession' chat='true')