.row.top-margin(ng-hide='s.validUser')
   .ta-center
      .descr(ng-hide='notice')
         h5 Подтвердите аккаунт чтобы прочитать сообщение
         div
            | Сообщение может прочитать лишь владелец аккаунта: {{ provider.account }}
      .top-margin(ng-hide='notice')
         button(ng-click="confirm(provider)")
            i.fa(ng-class="'fa-' + provider.provider")
            | &nbsp; Подтвердить {{ ::provider.provider }}
         button(ng-click="goto('sendSecret')")
            | Отправить свой секрет
      div(ng-show='notice')
         | {{ notice }}
         .top-margin
            button(ng-click="goto('pubsList')")
               | На главную
            button(ng-click="goto('sendSecret')")
               | Отправить свой секрет
.chat.top-margin(ng-show='s.validUser')
   .descr.columns
      | Это секретный диалог, вы можете ответить здесь отправителю. Вы так же можете
      a(ng-click="goto('sendSecret')") &nbsp;отправить свой секрет&nbsp;
      | пользователям твитера или инстаграма
   messages(session='s.fakeSession' chat='true')