.row.top-margin(ng-hide='s.validUser')
   .ta-center
      .descr(ng-hide='notice')
         h5 Подтвердите аккаунт чтобы прочитать сообщение
         div
            | Сообщение может прочитать лишь владелец аккаунта: {{ provider.account }}
      div(ng-hide='notice')
         button(ng-click="confirm(provider)")
            i.fa(ng-class="'fa-' + provider.provider")
            | &nbsp; Подтвердить {{ ::provider.provider }}
      div(ng-show='notice')
         | {{ notice }}
         div
            button(ng-click="goto('pubsList')")
               | На главную
.chat.top-margin(ng-show='s.validUser')
   messages(session='s.fakeSession' chat='true')