.send-secret-providers button {
    width: 50px;
    height: 40px;
    padding: 9px 29px 9px 20px;
}

@media screen and (min-width: 480px) {
    .send-secret-providers {
        display: inline-block;
        width: 110px;
    }
    .send-secret-account {
        display: inline-block;
        width: 75%;
    }
}