.row.top-margin
    .ta-center
        .descr
            h1(translate='secret.title')
            div(translate='secret.description')
        div(ng-hide='link')
            div
                div.send-secret-providers
                    button(ng-click="setProvider('twitter')", ng-class="{ success: provider == 'twitter' }", ng-disabled='sending' title='Twitter')
                        i.fa.fa-twitter
                    button(ng-click="setProvider('instagram')", ng-class="{ success: provider == 'instagram' }", ng-disabled='sending' title='Instagram')
                        i.fa.fa-instagram
                div.send-secret-account
                    input(type='text' ng-model='account', placeholder="{{ 'secret.accountPlaceholder' | translate }}")
            textarea(ng-model='text', allow-text-select, placeholder="{{ 'secret.textPlaceholder' | translate }}")

            button(ng-click="send()", ng-disabled='sending')
                | {{ 'secret.sendMessage' | translate}}
        div
            span {{ sendNotice | translate }}
            input(ng-show='link' type='text' ng-model='link')