.row.top-margin
    .ta-center
        .descr
            h1(translate='secret.title')
            div(translate='secret.description')
        div(ng-hide='link')
            input(type='text' ng-model='account', placeholder="{{ 'secret.accountPlaceholder' | translate }}")
            textarea(ng-model='text', allow-text-select, placeholder="{{ 'secret.textPlaceholder' | translate }}")
            //input(type='text' ng-model='text', placeholder="{{ 'secret.textPlaceholder' | translate }}")
            //button(ng-click='send()' ng-disabled='sending') Отправить
            button(ng-click="send('twitter')", ng-disabled='sending')
                i.fa.fa-twitter
                | &nbsp; Twitter
            button(ng-click="send('instagram')", ng-disabled='sending')
                i.fa.fa-instagram
                | &nbsp; Instagram
        div
            span {{ sendNotice | translate }}
            input(ng-show='link' type='text' ng-model='link')