<div class="hide-x">
    <div ng-hide="lookupInProgress" class="row">
        <div class="columns small-12 pt1rem ta-center">
            <button ng-hide="waitingServer" ng-click="lookForChat()">
                <span>Начать чат <i class="fa fa-weixin"></i></span>
            </button>
            <div  ng-show="waitingServer" spinner spinner-color="green"></div>
        </div>
    </div>
    <div ng-show="lookupInProgress">
        <div class="row" >
            <br/>
            <div class="small-12 columns ta-center">
                Ищем подходящего партнера...
            </div>
            <br/>
            <br/>
        </div>
        <div class="row">
            <div class="columns small-12 ta-center">
                <button class="bg-red" ng-click="cancelLookingFor()">
                    <span ng-hide="waitingServer" >отмена</span>
                    <div  ng-show="waitingServer" spinner spinner-color="white"></div>
                </button>
            </div>
        </div>
    </div>
    <div id="searchParameters">
    <div class="row">
        <div class="columns small-12">
            <div class="row fab-buttons-container">
                    <div class="small-3 columns pt1rem">
                        Беседы
                        <md-fab-speed-dial class="md-fling" md-direction="down" md-open="filter.theme.isOpened">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab"  ng-class="{'forbid-fab': filter.theme.value === -1}">
                                    <img ng-show="filter.theme.value === -1" ng-src="img/theme-forbid.png"/>
                                    <img ng-show="filter.theme.value === 0" ng-src="img/theme-unselected.png"/>
                                    <img ng-show="filter.theme.value === 1" ng-src="img/theme-prefer.png"/>
                                    <img ng-show="filter.theme.value === 2" ng-src="img/theme-require.png"/>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" ng-click="filter.theme.selectValue(0)" class="md-fab md-raised md-mini">
                                    <div class="fab-empty-div"></div>
                                    <div class="fab-title fab-title-right">не указывать</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="filter.theme.selectValue(1)" class="md-fab md-raised md-mini">
                                    <img src="img/prefer.png" alt="prefer">
                                    <div class="fab-title fab-title-right">желательно</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="filter.theme.selectValue(2)" class="md-fab md-raised md-mini">
                                    <img src="img/require.png" alt="require">
                                    <div class="fab-title fab-title-right">обязательно</div>
                                </md-button>
                                <md-button aria-label="facebook" ng-click="filter.theme.selectValue(-1)" class="md-fab md-raised md-mini">
                                    <img src="img/forbid.png" alt="forbid">
                                    <div class="fab-title fab-title-right">запретить</div>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                    <div class="small-3 columns pt1rem">
                        Реал
                        <md-fab-speed-dial class="md-fling" md-direction="down" md-open="filter.geo.isOpened">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab" ng-class="{'forbid-fab': filter.geo.value === -1}">
                                    <img ng-show="filter.geo.value === 0" ng-src="img/geo-unselected.png"/>
                                    <img ng-show="filter.geo.value === -1" ng-src="img/geo-forbid.png"/>
                                    <img ng-show="filter.geo.value === 1" ng-src="img/geo-prefer.png"/>
                                    <img ng-show="filter.geo.value === 2" ng-src="img/geo-require.png"/>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" ng-click="filter.geo.selectValue(0)" class="md-fab md-raised md-mini">
                                    <div class="fab-empty-div"></div>
                                    <div class="fab-title fab-title-right">не указывать</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="filter.geo.selectValue(1)" class="md-fab md-raised md-mini">
                                    <img src="img/prefer.png" alt="prefer">
                                    <div class="fab-title fab-title-right">желательно</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="filter.geo.selectValue(2)" class="md-fab md-raised md-mini">
                                    <img src="img/require.png" alt="require">
                                    <div class="fab-title fab-title-right">обязательно</div>
                                </md-button>
                                <md-button aria-label="facebook" ng-click="filter.geo.selectValue(-1)" class="md-fab md-raised md-mini">
                                    <img src="img/forbid.png" alt="forbid">
                                    <div class="fab-title fab-title-right">запретить</div>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                    <div class="small-3 columns pt1rem">
                        Интимн.
                        <md-fab-speed-dial class="md-fling" md-direction="down" md-open="filter.sex.isOpened">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab" ng-class="{'forbid-fab': filter.sex.value === -1}">
                                    <img ng-show="filter.sex.value === 0" ng-src="img/sex-unselected.png"/>
                                    <img ng-show="filter.sex.value === -1" ng-src="img/sex-forbid.png"/>
                                    <img ng-show="filter.sex.value === 1" ng-src="img/sex-prefer.png"/>
                                    <img ng-show="filter.sex.value === 2" ng-src="img/sex-require.png"/>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" ng-click="filter.sex.selectValue(0)" class="md-fab md-raised md-mini">
                                    <div class="fab-empty-div"></div>
                                    <div class="fab-title fab-title-left">не указывать</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="filter.sex.selectValue(1)" class="md-fab md-raised md-mini">
                                    <img src="img/prefer.png" alt="prefer">
                                    <div class="fab-title fab-title-left">желательно</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="filter.sex.selectValue(2)" class="md-fab md-raised md-mini">
                                    <img src="img/require.png" alt="require">
                                    <div class="fab-title fab-title-left">обязательно</div>
                                </md-button>
                                <md-button aria-label="facebook" ng-click="filter.sex.selectValue(-1)" class="md-fab md-raised md-mini">
                                    <img src="img/forbid.png" alt="forbid">
                                    <div class="fab-title fab-title-left">запретить</div>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                    <div class="small-3 columns pt1rem">
                        Камера
                        <md-fab-speed-dial class="md-fling" md-direction="down" md-open="filter.video.isOpened">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab" ng-class="{'forbid-fab': filter.video.value === -1}">
                                    <img ng-show="filter.video.value === 0" ng-src="img/video-unselected.png"/>
                                    <img ng-show="filter.video.value === -1" ng-src="img/video-forbid.png"/>
                                    <img ng-show="filter.video.value === 1" ng-src="img/video-prefer.png"/>
                                    <img ng-show="filter.video.value === 2" ng-src="img/video-require.png"/>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" ng-click="filter.video.selectValue(0)" class="md-fab md-raised md-mini">
                                    <div class="fab-empty-div"></div>
                                    <div class="fab-title fab-title-left">не указывать</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="filter.video.selectValue(1)" class="md-fab md-raised md-mini">
                                    <img src="img/prefer.png" alt="prefer">
                                    <div class="fab-title fab-title-left">желательно</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="filter.video.selectValue(2)" class="md-fab md-raised md-mini">
                                    <img src="img/require.png" alt="require">
                                    <div class="fab-title fab-title-left">обязательно</div>
                                </md-button>
                                <md-button aria-label="facebook" ng-click="filter.video.selectValue(-1)" class="md-fab md-raised md-mini">
                                    <img src="img/forbid.png" alt="forbid">
                                    <div class="fab-title fab-title-left">запретить</div>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
            </div>
        </div>
    </div>
    <div class="placeholder_for_fab_buttons"></div>
    <div ng-show="false" class="row pt1rem">
        <div class="small-12 columns">
            <input type="text" ng-model="filter.iam.intro" placeholder="Вступление (необязательно)">   
        </div>
    </div>
    <div ng-show="false" class="row">
        <div class="small-12 columns">
            <input type="text" ng-model="filter.iam.location" placeholder="Местоположение (необязательно)">      
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <div class="text-bold ta-center">
                Я:
            </div>
            <div>
                <sex-select ng-model="filter.iam.sex"></sex-select>
                <p class="text-silver ta-center fz13rem">Возраст: </p>
                <age-select ng-model="filter.iam.age" values="[0, 1, 2, 3, 4, 5]" 
                titles="['не скажу', 'до 17', 'от 18 до 21', 'от 22 до 25', 'от 26 до 35', 'старше 35']">
                </age-select> 
            </div>
        </div>
        <div class="small-6 columns ta-center">
            <div class="text-bold">
                Собеседник:
            </div>
            <div>
                <sex-select ng-model="filter.another.sex"></sex-select>
                <p class="text-silver ta-center fz13rem">Возраст: </p>
                <age-select ng-model="filter.another.age" values="[0, 1, 2, 3, 4, 5]" 
                titles="['не важно', 'до 17', 'от 18 до 21', 'от 22 до 25', 'от 26 до 35', 'старше 35']">
                </age-select>
            </div>
        </div>
    </div>
    <div class="row pt1rem">
        <div class="small-12 ta-center">
            <span class="text-silver pointer" ng-click="setDefaultFilterParams()">сброс фильтра</span>
        </div>
    </div>
    <div class="row pt1rem">
        <div class="small-12 ta-center columns">
            <span class="dashed pointer text-silver no-select" ng-click="showHelpText = !showHelpText">Помощь</span>
            <div ng-show="showHelpText"  >
                Вступление - это текст, который будет видеть вначале ваш собеседник. <br>
                Можете указать пол, если выбран прочерк - пол не имеет значения. <br>
                В возрасте собеседника можно указать несколько диапазонов. 
            </div>
        </div>
    </div>
        <div class="row" ng-hide="RAN_AS_APP" style="padding: 19px 0 6px;">
            <div class="small-6 columns" style="text-align: right; padding-top: 4px;">
                <!--Чтобы не пропустить диалог,<br/> установите приложение:-->
                Так же доступно<br/> на мобильном:
            </div>
            <div class="small-6 columns">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.phonegap.dubink">
                    <img alt="Get it on Google Play"
                         src="https://developer.android.com/images/brand/ru_generic_rgb_wo_60.png" />
                </a>
            </div>

        </div>
    </div>
</div>

