<div class="hide-x">
    <div class="row">
        <div class="columns small-12 pt1rem ta-center">
            <button ng-click="lookForChat()">
                <span ng-hide="isLookForSpinnerShown" >Начать чат <i class="fa fa-weixin"></i></span>
                <div  ng-show="isLookForSpinnerShown" spinner spinner-color="white"></div>
            </button>
        </div>
    </div>
    <div class="animated no-transition" ng-class="{'fadeIn': isLookingFor}" ng-show="isLookingFor">
        <div class="row">
            <div class="columns small-12 ta-center">
                <button class="bg-red" ng-click="cancelLookingFor()">
                    <span ng-hide="isCancelSpinnerShown" >отмена</span>
                    <div  ng-show="isCancelSpinnerShown" spinner spinner-color="white"></div>
                </button>
            </div>
        </div>
        <div class="row" >
            <div class="small-12 columns text-silver ta-center">
                Ищем подходящего партнера...
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <div class="row fab-buttons-container">
                    <div class="small-3 columns pt1rem">
                        Беседы
                        <md-fab-speed-dial class="md-fling" md-direction="down" md-open="theme.isOpened">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab"  ng-class="{'forbid-fab': theme.value === 0}">
                                    <img ng-show="theme.value === -1" ng-src="img/theme-unselected.png"></img>
                                    <img ng-show="theme.value === 0" ng-src="img/theme-forbid.png"></img>
                                    <img ng-show="theme.value === 1" ng-src="img/theme-prefer.png"></img>
                                    <img ng-show="theme.value === 2" ng-src="img/theme-require.png"></img>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" ng-click="theme.selectValue(-1)" class="md-fab md-raised md-mini">
                                    <div class="fab-empty-div"></div>
                                    <div class="fab-title fab-title-right">не указывать</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="theme.selectValue(1)" class="md-fab md-raised md-mini">
                                    <img src="img/prefer.png" alt="prefer">
                                    <div class="fab-title fab-title-right">желательно</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="theme.selectValue(2)" class="md-fab md-raised md-mini">
                                    <img src="img/require.png" alt="require">
                                    <div class="fab-title fab-title-right">обязательно</div>
                                </md-button>
                                <md-button aria-label="facebook" ng-click="theme.selectValue(0)" class="md-fab md-raised md-mini">
                                    <img src="img/forbid.png" alt="forbid">
                                    <div class="fab-title fab-title-right">запретить</div>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                    <div class="small-3 columns pt1rem">
                        Реал
                        <md-fab-speed-dial class="md-fling" md-direction="down" md-open="geo.isOpened">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab" ng-class="{'forbid-fab': geo.value === 0}">
                                    <img ng-show="geo.value === -1" ng-src="img/geo-unselected.png"></img>
                                    <img ng-show="geo.value === 0" ng-src="img/geo-forbid.png"></img>
                                    <img ng-show="geo.value === 1" ng-src="img/geo-prefer.png"></img>
                                    <img ng-show="geo.value === 2" ng-src="img/geo-require.png"></img>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" ng-click="geo.selectValue(-1)" class="md-fab md-raised md-mini">
                                    <div class="fab-empty-div"></div>
                                    <div class="fab-title fab-title-right">не указывать</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="geo.selectValue(1)" class="md-fab md-raised md-mini">
                                    <img src="img/prefer.png" alt="prefer">
                                    <div class="fab-title fab-title-right">желательно</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="geo.selectValue(2)" class="md-fab md-raised md-mini">
                                    <img src="img/require.png" alt="require">
                                    <div class="fab-title fab-title-right">обязательно</div>
                                </md-button>
                                <md-button aria-label="facebook" ng-click="geo.selectValue(0)" class="md-fab md-raised md-mini">
                                    <img src="img/forbid.png" alt="forbid">
                                    <div class="fab-title fab-title-right">запретить</div>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                    <div class="small-3 columns pt1rem">
                        Интимн.
                        <md-fab-speed-dial class="md-fling" md-direction="down" md-open="sex.isOpened">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab" ng-class="{'forbid-fab': sex.value === 0}">
                                    <img ng-show="sex.value === -1" ng-src="img/sex-unselected.png"></img>
                                    <img ng-show="sex.value === 0" ng-src="img/sex-forbid.png"></img>
                                    <img ng-show="sex.value === 1" ng-src="img/sex-prefer.png"></img>
                                    <img ng-show="sex.value === 2" ng-src="img/sex-require.png"></img>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" ng-click="sex.selectValue(-1)" class="md-fab md-raised md-mini">
                                    <div class="fab-empty-div"></div>
                                    <div class="fab-title fab-title-left">не указывать</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="sex.selectValue(1)" class="md-fab md-raised md-mini">
                                    <img src="img/prefer.png" alt="prefer">
                                    <div class="fab-title fab-title-left">желательно</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="sex.selectValue(2)" class="md-fab md-raised md-mini">
                                    <img src="img/require.png" alt="require">
                                    <div class="fab-title fab-title-left">обязательно</div>
                                </md-button>
                                <md-button aria-label="facebook" ng-click="sex.selectValue(0)" class="md-fab md-raised md-mini">
                                    <img src="img/forbid.png" alt="forbid">
                                    <div class="fab-title fab-title-left">запретить</div>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                    <div class="small-3 columns pt1rem">
                        Камера
                        <md-fab-speed-dial class="md-fling" md-direction="down" md-open="video.isOpened">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab" ng-class="{'forbid-fab': video.value === 0}">
                                    <img ng-show="video.value === -1" ng-src="img/video-unselected.png"></img>
                                    <img ng-show="video.value === 0" ng-src="img/video-forbid.png"></img>
                                    <img ng-show="video.value === 1" ng-src="img/video-prefer.png"></img>
                                    <img ng-show="video.value === 2" ng-src="img/video-require.png"></img>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" ng-click="video.selectValue(-1)" class="md-fab md-raised md-mini">
                                    <div class="fab-empty-div"></div>
                                    <div class="fab-title fab-title-left">не указывать</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="video.selectValue(1)" class="md-fab md-raised md-mini">
                                    <img src="img/prefer.png" alt="prefer">
                                    <div class="fab-title fab-title-left">желательно</div>
                                </md-button>
                                <md-button aria-label="Google hangout" ng-click="video.selectValue(2)" class="md-fab md-raised md-mini">
                                    <img src="img/require.png" alt="require">
                                    <div class="fab-title fab-title-left">обязательно</div>
                                </md-button>
                                <md-button aria-label="facebook" ng-click="video.selectValue(0)" class="md-fab md-raised md-mini">
                                    <img src="img/forbid.png" alt="forbid">
                                    <div class="fab-title fab-title-left">запретить</div>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
            </div>
        </div>
    </div>
    <div class="h100"></div>
    <div class="row pt1rem">
        <div class="small-12 columns">
            <input type="text" ng-model="iam.intro" placeholder="Вступление (необязательно)">   
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <input type="text" ng-model="iam.location" placeholder="Местоположение (необязательно)">      
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <div class="text-bold ta-center">
                Я:
            </div>
            <div>
                <sex-select ng-model="iam.sex"></sex-select>
                <p class="text-silver ta-center fz13rem">Возраст: </p>
                <age-select ng-model="iam.age" values="[0, 1, 2, 3, 4, 5]" 
                titles="['не скажу', 'до 17', 'от 18 до 21', 'от 22 до 25', 'от 26 до 35', 'старше 35']">
                </age-select> 
            </div>
        </div>
        <div class="small-6 columns ta-center">
            <div class="text-bold">
                Собеседник:
            </div>
            <div>
                <sex-select ng-model="another.sex"></sex-select>
                <p class="text-silver ta-center fz13rem">Возраст: </p>
                <age-select ng-model="another.age" values="[0, 1, 2, 3, 4, 5]" 
                titles="['не важно', 'до 17', 'от 18 до 21', 'от 22 до 25', 'от 26 до 35', 'старше 35']">
                </age-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 ta-center columns">
            <span class="dashed pointer text-silver no-select" ng-click="showHelpText = !showHelpText">Помощь</span>
            <div ng-show="showHelpText"  >
                Вступление - это текст, который будет видеть вначале ваш собеседник. <br>
                Можете указать пол, если выбран прочерк - пол не имеет значения. <br>
                В возрасте собеседника можно указать несколько диапазонов. 
            </div>
        </div>
    </div>
</div>

