.wrapper.gallery-panel(ng-show="g.galleryPanelOpened")
    .inner
        .circle.pointer.gallery-open-button(ng-click="goto('gallery')")
            i.fa.fa-ellipsis-v.additional
        .recent-emojis
            span(ng-repeat="emoji in recentEmojis" ng-focus="g.setFocusOnTextField()" ng-click='g.typeEmoji($event, emoji.code)') {{ ::g.emoji[emoji.code][0] }}

