.wrapper.gallery-panel(ng-show="g.galleryPanelOpened")
    .inner
        .circle.pointer(ng-click="goto('gallery')")
            i.fa.fa-ellipsis-v.additional
        .recent-emojis
            span(ng-repeat="emoji in recentEmojis") {{ emoji }}

