
<div class="inline-block"><a data-dropdown="complaint" aria-controls="complaint" aria-expanded="false" class="options"><i class="fa fa-ellipsis-v"></i></a>
  <ul id="complaint" data-dropdown-content="" aria-hidden="true" tabindex="-1" class="f-dropdown small">
    <li class="dropdown-title"><a style="cursor: default;">{{ 'complaints.complaint' | translate }}</a></li>
    <li ng-repeat="complaint in complaints"><a ng-click="reportComplaint(complaint.name)">{{ complaint.title | translate }}</a></li>
  </ul>
</div>