#edit-message-dialog.f-dropdown.content(data-dropdown-content='', aria-hidden='true', tabindex='-1')
    div
        input(type='text', ng-model='message.text')
    div
        button(ng-click='closeDialog()', translate='message.menu.done')