<div ng-repeat="message in session.messages track by $index"
     class="message-container" ng-class="{'ta-right': message.isOwn}"
     ng-switch="message.type">
    <div ng-switch-when="chat_empty">
        <div class="system_message">
            Этот чат завершен
            <a href="#/random">Начать новый диалог</a>
        </div>
        <share ng-if="askShowSharing()"></share>
    </div>
    <div ng-switch-when="chat_finished">
        <div class="system_message">
            Собеседник покинул чат
            <a href="#/random">Начать новый диалог</a>
        </div>
        <share ng-if="askShowSharing()"></share>
    </div>
    <div ng-switch-default class="message"
         ng-class="::{'message-own': message.isOwn, 'message-not-own': !message.isOwn }"
         ng-bind-html="::formatMessage(message)"  allow-textselect></div>
</div>
