<div ng-repeat="message in session.messages track by $index"
     class="message-container" ng-class="{'ta-right': message.isOwn}"
     ng-switch="message.type">
    <div ng-switch-when="chat_empty">
        <div class="system_message">
            {{ 'message.finished.empty' | translate }}
            <a ng-click="lookAgain()" translate="message.lookAgain"></a>
        </div>
    </div>
    <div ng-switch-when="chat_finished">
        <div class="system_message">
            {{ 'message.finished' | translate}}&nbsp; {{ 'message.finished.reason' | translate}}
            <div ng-show="chat">
                <div class="message-finish">
                    <a ng-click="lookAgain()" translate="message.lookAgain"></a>&nbsp;|&nbsp;
                    <a ng-click="chatSettings()" translate="message.chatSettings"></a>
                </div>
                <div class="circle pointer" ng-hide="additional" ng-click="showAdditional()"><i class="fa fa-ellipsis-v additional"></i></div>
                <div ng-show="additional">
                    <div>
                        {{ 'message.leaveFeedback' | translate}}
                    </div>
                    <span class="pointer message-feedback" ng-class="{selected: feedback.key === selectedKey}" ng-repeat='feedback in feedbacks' ng-click="leaveFeedback(feedback.key)">
                        <img ng-src="{{ feedback.imgSrc }}">{{ feedback.title | translate }}
                    </span>
                    <div>
                        <a ng-click="complaint()" translate="message.complaint"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="hidden">
        <div ng-class="{'message-own': message.isOwn, 'message-not-own': !message.isOwn, }" 
            class="message message-hidden" translate="message.hidden">
        </div>
    </div>
    <div ng-switch-default ng-switch="chat">
        <div ng-switch-when="true" class="message pointer"
         ng-class="::{'message-own': message.isOwn, 'message-not-own': !message.isOwn, }"
         ng-bind-html="::formatMessage(message)"
         ng-click="::showMenu($event, message, $index)"
         >
        </div>
        <div ng-switch-default class="message pointer"
             ng-class="{'message-own': message.isOwn, 'message-not-own': !message.isOwn, }"
             ng-bind-html="formatMessage(message)"
             ng-click="showMenu($event, message, $index)"
             >
        </div>
    </div>
</div>
<message-menu style="display: none" api="messageMenuApi" items="messageMenuItems"></message-menu>
