<div class="no-select" ng-show="user.name">
    <div class="menu-ava-container" ng-click="isChangeAvaMenuShown ? false : showChangeAvatarMenu()">
        <img class="rounded-ava pointer" ng-src="{{user.avatarUrlMini}}" alt="ava" imageonload="imageLoadedHandler()" ng-click="isChangeAvaMenuShown ? generateNewAvatar() : false">
        <span class="text-bold" ng-bind="user.name" ng-hide="isChangeAvaMenuShown"></span>
        <div class="inline-block" ng-show="isChangeAvaMenuShown" ng-class="{'animated fadeIn': isChangeAvaMenuShown}" stop-event>
            <div class="change-ava-button" ng-click="applyCurrentAvatar()">
                <i class="fa fa-check"></i>
            </div>
            <div class="change-ava-button" ng-click="restoreDefaultAvatar()">
                <i class="fa fa-undo"></i>
            </div>
            <div class="change-ava-button" ng-click="goToLoadAvatar()">
                <i class="fa fa-upload"></i>
            </div>
            <div ng-show="isAvaLoading" class="inline-block" spinner spinner-color="white"></div>
        </div>
    </div>
    <ul class="off-canvas-list">
        <li>
            <a class="menu-item" ng-click="goto('chats')">
                <i class="fa fa-envelope"></i>Чаты
                <span class="menu-new-messages-number" ng-show="!!unreadChatsAmount" ng-bind="unreadChatsAmount"></span>
            </a>
        </li>
        <li><a class="menu-item" ng-click="goto('friends')"><i class="fa fa-group"></i>Контакты</a></li>
        <li><a class="menu-item" ng-click="goto('friendSearch')"><i class="fa fa-plus"></i>Добавить контакт</a></li>
        <li><a class="menu-item" ng-click="goto('random')"><i class="fa fa-refresh"></i>Чат наугад</a></li>
        <li><a class="menu-item" ng-click="goto('settings')"><i class="fa fa-gear"></i>Настройки</a></li>
        <li><a class="menu-item" ng-click="goto('about')"><i class="fa fa-info-circle"></i>О программе</a></li>
        <li><a class="menu-item" ng-click="goto('exit')" class="lessen-word"><i class="fa fa-power-off"></i>Выход</a></li>
        <li class="ta-center">
            <button ng-click="sendDebugInfo()" ng-hide="showDebugPreloader">отправить слепок</button>
            <div spinner spinner-color="white" ng-show="showDebugPreloader"></div>
        </li>
    </ul>
</div>
<div class="no-select" ng-hide="user.name">
    <ul class="off-canvas-list">
        <li><label>Меню</label></li>
        <li><a ng-click="goto('signin', {inOrUp: 'in'})">Войти</a></li>
        <!-- <li><a ng-click="$state.go('signinup/in')">Войти</a></li> -->
        <li><a ng-click="goto('phoneRegistration')" class="lessen-word">Зарегистрироваться</a></li>
        <li><a ng-click="goto('about')" class="lessen-word">О программе</a></li>
        <!-- <li><a ng-click="goto('/localForage')" class="lessen-word">Test local forage</a></li> -->
    </ul>
</div>

