<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <link rel="stylesheet" type="text/css" href="css/foundation.css" />
        <link rel="stylesheet" type="text/css" href="css/animate.css" />
        <link rel="stylesheet" type="text/css" href="css/toastr.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/flags.css" />
        <link rel="stylesheet" type="text/css" href="css/intlTelInput.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />

        <script type="text/javascript" src="js/libs/jquery.js"></script>
        <script type="text/javascript" src="js/libs/angular.js"></script>
        <script type="text/javascript" src="js/settings.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/libs/hammer.min.js"></script>
        <script type="text/javascript" src="js/libs/getEmPixels.min.js"></script>
        <script type="text/javascript" src="js/libs/promises.js"></script>
        <script type="text/javascript" src="js/libs/localforage.js"></script>
        <script type="text/javascript" src="js/libs/angular-localForage.min.js"></script>
        <script type="text/javascript" src="js/libs/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/libs/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="js/libs/angular-touch.min.js"></script>
        <script type="text/javascript" src="js/libs/angular-file-upload.min.js"></script>
        <script type="text/javascript" src="js/libs/angular-animate.js"></script>
        <script type="text/javascript" src="js/libs/mm-foundation-tpls-0.5.0.min.js"></script>
        <script type="text/javascript" src="js/libs/fileTypeDeterminer.min.js"></script>
        <script type="text/javascript" src="js/libs/gestures.min.js"></script>
        <!-- files for internation phone number prefix plugin -->
        <script type="text/javascript" src="js/libs/intlTelInput.js"></script>
        <script type="text/javascript" src="js/libs/data.js"></script>
        <script type="text/javascript" src="js/libs/utils.js"></script>
        <script type="text/javascript" src="js/libs/international-phone-number.js"></script>
        <!-- end of files for internation phone number prefix plugin -->
        <script type="text/javascript" src="js/angular-app.js"></script>
        <script type="text/javascript" src="js/factories/Chat.js"></script>
        <script type="text/javascript" src="js/factories/ChatSession.js"></script>
        <script type="text/javascript" src="js/factories/Friend.js"></script>
        <script type="text/javascript" src="js/services/userService.js"></script>
        <script type="text/javascript" src="js/services/stickersGalleryService.js"></script>
        <script type="text/javascript" src="js/services/notificationService.js"></script>
        <script type="text/javascript" src="js/services/apiService.js"></script>
        <script type="text/javascript" src="js/services/storageService.js"></script>
        <script type="text/javascript" src="js/services/friendsListService.js"></script>
        <script type="text/javascript" src="js/ang-controllers/mainController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/chatsController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/localForageController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/chatController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/startController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/signinupController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/settingsController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/friendSearchController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/invitationController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/exitController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/stickersGalleryController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/addImageController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/friendsController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/phoneRegistrationController.js"></script>
        <script type="text/javascript" src="js/ang-controllers/phoneRegistrationUserController.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/libs/foundation.min.js"></script>
        <script type="text/javascript" src="js/libs/pubnub.js"></script>
        <script type="text/javascript" src="js/libs/PushNotification.js"></script>
        <!-- <script type="text/javascript" src="js/index.js"></script> -->
        <title>Chat</title>
    </head>
    <body  ng-controller="mainController" ng-swipe-left="closeMenu()" onload="onLoad()">
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="iphone-status-bar-margin"></div>
            <div class="inner-wrap">
                
                <nav class="tab-bar">
                    <section class="left-small" ng-click="openMenu()">
                        <a class="menu-icon"><span></span></a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title">
                            <div ng-show="!notification.text" ui-view="title"></div>
                            <div class="notification" ng-show="notification.text" ng-click="notification.handler()" ng-class="{'animated bounceInDown': notification.animated}"><span ng-bind="notification.text"></span></div>
                        </h1>
                    </section>
                    <section ng-show="user.scores" class="right-small ta-center">
                        <i class="fa fa-star"></i> <span ng-bind="user.scores"></span>
                    </section>
                </nav>
                
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <div ui-view="menu"></div>
                    </ul> 
                </aside>

                <section class="main-section"> <!-- content goes here -->
                    <!-- MAIN CONTENT -->
                    <div id="wrapper" ng-swipe-right="openMenu()">
                        <div ui-view="content" class="content"></div>
                    </div>
                </section>
                <a class="exit-off-canvas"></a>
            </div>
        </div>


    </body>
</html>
