<div>
    <div class="ta-center pt1rem">
        <img src="img/appicon.png" alt="appicon"><br>
        dub.ink <br>
        <span class="text-silver">version 1.1.1</span><br>
        <div class="react-tabs"></div>
        <!-- <form name="listFilter" class="checkbox-group-rounded">
            <input id="radio1" type="radio" name="sreenToShow" ng-model="screenToShow" value="terms" autocomplete="off">
            <label class="radioLabel" for="radio1">terms</label>
            <input id="radio2" type="radio" name="sreenToShow" ng-model="screenToShow" value="privacy" autocomplete="off">
            <label class="radioLabel" for="radio2">privacy</label>
            <input id="radio3" type="radio" name="sreenToShow" ng-model="screenToShow" value="support" autocomplete="off">
            <label class="radioLabel" for="radio3">support</label>
        </form> -->
    </div>
        
</div>
