<div>
    <div class="ta-center pt1rem about">
        <img src="assets/img/appicon.png" alt="appicon">
        <div class="title">DUB.iNK</div>
        <span class="version text-silver">version 1.1.1</span><br>
        <div class="descr">
            Чат без регистрации, где можно просто пообщаться или завести новые знакомства через быстрые диалоги
            <share></share>
        </div>
        <div class="react-tabs"></div>
        <!-- <form name="listFilter" class="checkbox-group-rounded">
            <input id="radio1" type="radio" name="sreenToShow" ng-model="screenToShow" value="terms" autocomplete="off">
            <label class="radioLabel" for="radio1">terms</label>
            <input id="radio2" type="radio" name="sreenToShow" ng-model="screenToShow" value="privacy" autocomplete="off">
            <label class="radioLabel" for="radio2">privacy</label>
            <input id="radio3" type="radio" name="sreenToShow" ng-model="screenToShow" value="support" autocomplete="off">
            <label class="radioLabel" for="radio3">support</label>
        </form> -->
        <div style="height: 100px"></div>
    </div>
        
</div>
