<div class="no-select" overscrollable-without-footer>
    <div class="width-92 block-center">
        <div class="invitation ta-center">
            К сожалению,
            <b><span ng-show="friend.displayName" ng-bind="friend.displayName"></span></b>
            <span ng-show="!friend.displayName">ваш друг</span>
            не зарегистрирован в dub.ink<br> 
            <div class="text-silver">
                Вы можете отправить ему СМС
                или сообщение через социальную сеть, e-mail и т.п. 
            </div>
        </div>
        <div class="invitation-message" ng-show="!!friend.phoneNumbers.length || !!friend.emails.length">
            Сообщения для: <span ng-bind="friend.displayName"></span> <br> 
                <span ng-show="friend.phoneNumbers.length === 1">(<span ng-bind="friend.phoneNumbers[0].value"></span>)</span>
                <span ng-show="friend.phoneNumbers === null">(<span ng-bind="friend.emails[0].value"></span>)</span>
                <select ng-show="friend.phoneNumbers.length > 1" ng-options="phoneNumber.value for phoneNumber in friend.phoneNumbers" ng-model="selectedNumber"></select>
            
            <textarea ng-bind="invitationText"></textarea>
            <div class="socialShareButtons ta-center">
                <button ng-click="inviteViaSms()">Послать СМС</button>
            </div>
        </div>
        <div class="socialShareButtons">
            Или отправьте уведомление другим способом: <br>
            <button ng-click="inviteViaSocialNetwork('vk')"><i class="fa fa-vk"></i></button> 
            <button ng-click="inviteViaSocialNetwork('twitter')"><i class="fa fa-twitter"></i></button> 
            <button ng-click="inviteViaSocialNetwork('facebook')"><i class="fa fa-facebook"></i></button>
            <button ng-click="inviteViaSocialNetwork('facebook')"><i class="fa fa-google-plus"></i></button>
            <button ng-click="inviteViaSocialNetwork('email')"><i class="fa fa-envelope"></i></button>
            <button ng-click="openSocialShareMenu()">Еще...</button>
        </div>
        <!-- <div class="ta-center" ng-hide="!!friend.phoneNumbers.length || !!friend.emails.length">
            К сожалению, у вашего друга нету ни номера телефона, ни email
        </div> -->
       
    </div>
</div>