<div overscrollable-without-footer>
    <div class="invitation ta-center">
        К сожалению,
        <b><span ng-show="friend.displayName" ng-bind="friend.displayName"></span></b>
        <span ng-show="!friend.displayName">ваш друг</span>
        не является пользователем nepotom.<br> 
        Вы можете отправить ему приглашение
        через смс. <br>
        Для этого нажмите соответсвующую кнопку снизу
    </div>
    <div class="socialShareButtons ta-center">
        <button ng-click="inviteViaSms()">Пригласить</button>
    </div>
</div>