
<div ng-controller="answerSecretPanelController" class="input-panel">
  <div id="footer" ng-show="s.validUser">
    <div class="wrapper">
      <div id="alert" ng-model="errorDescription" alert-box=""></div>
    </div>
    <div class="background">
      <div class="wrapper">
        <div ng-class="{'chat-left-buttons-oldandroid': deviceInfo.isOldAndroid || deviceInfo.isIos}" class="chat-left-buttons">
          <div class="chat-input-container">
            <div contenteditable="true" ng-focus="onInputFieldFocus()" ng-keydown="input_keypress($event)" data-snap-ignore="true" tabindex="0" class="chat-input single-line"></div>
          </div>
        </div>
        <button ng-click="sendMessage()" ng-show="!(deviceInfo.isOldAndroid || deviceInfo.isIos)" class="chat-send ng-animate-disabled"><i ng-show="!isMessageSending" class="fa fa-paper-plane"></i><span ng-show="isMessageSending" spinner="" spinner-color="white"></span></button>
      </div>
    </div>
  </div>
</div>