
<div ng-hide="s.validUser" class="row top-margin">
  <div class="ta-center">
    <h1><i ng-hide="expired" style="color: #6c6b86;" class="fa fa-lock"></i><i ng-show="expired" style="color: #6c6b86;" class="fa fa-clock-o"></i></h1>
    <div ng-hide="notice || expired" class="descr">
      <h5>Подтвердите аккаунт чтобы прочитать сообщение</h5>
      <p style="margin-bottom: 0; margin-top: 10px;">Код секрета: /{{shortCode}}</p>
      <p>Сообщение может прочитать только владелец аккаунта <b>{{ provider.account }}</b></p>
      <div class="top-margin">
        <button ng-click="confirm(provider)"><i ng-class="'fa-' + provider.provider" class="fa"></i>&nbsp; Подтвердить {{ ::provider.provider }}</button><br/>
      </div>
    </div>
    <div ng-show="notice">{{ notice }}<br/><br/></div>
    <div ng-show="expired">
      <div style="margin-bottom: 10px;">Время секрета истекло.</div>
      <p>
        Отправитель установил для секрета время, 
        в течение которого его можно прочитать.
        И это время истекло. 
        Значит он не хотел, чтобы секрет прочитали позже, чем нужно.
      </p>
    </div>
    <div ng-hide="link" class="descr">
      <p style="text-indent: 0; text-align: center;"><a ng-click="showForWhat = !showForWhat">{{ 'secret.for_what' | translate}}&nbsp;</a><span ng-show="showForWhat" translate="secret.for_what_explain"></span><br/><a ng-click="showHowTo = !showHowTo">{{ 'secret.how_to' | translate}}&nbsp;</a><span ng-show="showHowTo" translate="secret.how_to_explain"></span></p>
      <button ng-click="goto('sendSecret')">Отправить свой секрет</button>
    </div>
  </div>
</div>
<div ng-show="s.validUser" class="chat top-margin">
  <div class="descr columns">
    <p>Это секретный диалог, вы можете ответить здесь отправителю. Вы так же можете<a ng-click="goto('sendSecret')">&nbsp;отправить свой секрет&nbsp;</a></p>
  </div>
  <messages session="s.dummySession" chat="true"></messages>
</div>