
<div class="row top-margin ta-center">
  <div class="padded_section">
    <h1><i style="color: #6c6b86;" class="fa fa-lock"></i></h1>
    <div ng-hide="link" class="descr">
      <p><a ng-click="showForWhat = !showForWhat">{{ 'secret.for_what' | translate}}&nbsp;</a><span ng-show="showForWhat" translate="secret.for_what_explain"></span><br/><a ng-click="showHowTo = !showHowTo">{{ 'secret.how_to' | translate}}&nbsp;</a><span ng-show="showHowTo" translate="secret.how_to_explain"></span></p>
    </div>
    <div ng-show="link">
      <p ng-hide="account" translate="secret.linkInstructionsNoTarget"></p>
      <p ng-show="account &amp;&amp; provider==&quot;twitter&quot;" translate="secret.linkInstructionsTwitter"></p>
    </div>
    <div ng-hide="link" class="top-margin">
      <textarea ng-model="text" allow-text-select="allow-text-select" placeholder="{{ 'secret.textPlaceholder' | translate }}"></textarea>
      <div>
        <div class="send-secret-providers">
          <button ng-click="provider = 'twitter'" ng-class="{ secondary: provider != 'twitter' }" ng-disabled="sending" title="Twitter"><i class="fa fa-twitter"></i></button>
          <button ng-click="provider = 'instagram'" ng-class="{ secondary: provider != 'instagram' }" ng-disabled="sending" title="Instagram"><i class="fa fa-instagram"></i></button>
        </div>
        <div class="send-secret-account">
          <input type="text" ng-model="account" placeholder="{{ 'secret.accountPlaceholder' | translate }}{{provider}}"/>
        </div>
      </div>
      <div translate="secret.secretLifetime" class="title"></div>
      <div class="durations">
        <button ng-repeat="duration in durations" ng-click="setExpires(duration.seconds)" ng-class="{ secondary: expiresSec != duration.seconds }" ng-disabled="sending">{{ duration.name | translate}}</button>
      </div>
      <div ng-show="sendNotice" class="title"><i class="fa fa-exclamation-triangle">&nbsp;</i>{{ sendNotice | translate }}</div>
      <button ng-click="send()" ng-disabled="sending">{{ 'secret.sendMessage' | translate}}</button>
    </div>
    <div ng-show="link">
      <textarea ng-model="publicMsg" style="height: 60px;" onfocus="this.select()"></textarea>
      <div ng-show="account &amp;&amp; provider=='instagram'">{{'secret.linkInstructionsInstagram' | translate }}</div>
      <div ng-show="account &amp;&amp; provider=='twitter'" ng-social-buttons="" data-url="link" data-title="tweetMsg" class="share-secret">
        <li class="ng-social-twitter">
          <button><i class="fa fa-twitter"></i>&nbsp;Твитнуть для {{ formattedAccount }}</button>
        </li>
      </div>
    </div>
  </div>
</div>