<div class="loginRegisterForm" overscrollable-without-footer ng-swipe-right="openMenu()" ng-swipe-left="closeMenu()">
  <form name="regForm" novalidate>
    <div class="width-92 inline-block">
      <!--  <label for="reg_user_name">Имя</label> -->
        <input id="reg_user_name" name="name" type="text" ng-model="newUser.name" placeholder="Имя" autocomplete="off" clear-all-button required>
    </div>
    <div class="width-92 inline-block">
     <!--    <label for="reg_user_password">Пароль</label> -->
        <input id="reg_user_password" name="password" type="password" ng-model="newUser.password" placeholder="Пароль" clear-all-button autocomplete="off" required> 
    </div>
    <div class="width-92 inline-block" ng-show="isIn">
        <button ng-click="signin()" class="button loginRegisterButton" ng-disabled="showSpinner || regForm.$invalid">
            <span ng-show="!showSpinner" class="ng-animate-disabled" >Войти</span>
            <span ng-show="showSpinner"  class="ng-animate-disabled" spinner spinner-color="white"></span>
        </button>
        <div class="text-silver"><a href="#/signinup/up">зарегистрироваться</a></div>
    </div>
    <div class="width-92 inline-block" ng-hide="isIn">
        <button ng-click="signup()" class="button loginRegisterButton" ng-disabled="showSpinner || regForm.$invalid">
            <span ng-show="!showSpinner">Зарегистрироваться</span>
            <span ng-show="showSpinner" spinner spinner-color="white"></span>
        </button>
    </div>
    

    <div ng-hide="isIn" class="row text-silver">
        <div>
            <a href="#/phoneRegistration">
                <i class="fa fa-arrow-left"></i>
                <span>зарегистрировать номер</span>
            </a>
        </div>
        <div class="width-92 line"></div>
        <div>
            <a href="#/signinup/in">войти</a>
        </div>
    </div>
    <div ng-model="serverResponse" alert-box class="width-92 block-center pt1rem"></div>
      
  </form>

<div id="login_button" onclick="plugin_vk.auth()">войти через вк</div>

<script language="javascript">
   var url_parser={
        get_args: function (s) {
            var tmp=new Array();
            s=(s.toString()).split('&');
            for (var i in s) {
                i=s[i].split("=");
                tmp[(i[0])]=i[1];
            }
            return tmp;
        },
        get_args_cookie: function (s) {
            var tmp=new Array();
            s=(s.toString()).split('; ');
            for (var i in s) {
                i=s[i].split("=");
                tmp[(i[0])]=i[1];
            }
            return tmp;     
        }
}; 
 var plugin_vk = {
    wwwref: null,
    plugin_perms: "friends,wall,photos,messages,wall,offline,notes",
    
    auth: function (force) {
        if (!window.localStorage.getItem("plugin_vk_token") || force || window.localStorage.getItem("plugin_vk_perms")!=plugin_vk.plugin_perms) {
            var authURL="https://oauth.vk.com/authorize?client_id=4889771&scope="+this.plugin_perms+"&redirect_uri=http://oauth.vk.com/blank.html&display=touch&response_type=token";
            this.wwwref = window.open(encodeURI(authURL), '_blank', 'location=no');
            this.wwwref.addEventListener('loadstop', this.auth_event_url);
        }
    },
    auth_event_url: function (event) {
        alert("loading is stopped");
        var tmp=(event.url).split("#");
        if (tmp[0]=='https://oauth.vk.com/blank.html' || tmp[0]=='http://oauth.vk.com/blank.html') {
            console.log(tmp);
            plugin_vk.wwwref.close();
            var tmp=url_parser.get_args(tmp[1]);
            window.localStorage.setItem("plugin_vk_token", tmp['access_token']);
            window.localStorage.setItem("plugin_vk_user_id", tmp['user_id']);
            window.localStorage.setItem("plugin_fb_exp", tmp['expires_in']);
            window.localStorage.setItem("plugin_vk_perms", plugin_vk.plugin_perms);
        }
    }
};
</script>

</div>