<div class="loginRegisterForm" overscrollable-without-footer ng-swipe-right="openMenu()" ng-swipe-left="closeMenu()">
  <form name="regForm" novalidate>
    <div class="width-92 inline-block">
      <!--  <label for="reg_user_name">Имя</label> -->
        <input id="reg_user_name" name="name" type="text" ng-model="newUser.name" placeholder="Имя" autocomplete="off" clear-all-button required>
    </div>
    <div class="width-92 inline-block">
     <!--    <label for="reg_user_password">Пароль</label> -->
        <input id="reg_user_password" name="password" type="password" ng-model="newUser.password" placeholder="Пароль" clear-all-button autocomplete="off" required> 
    </div>
    <div class="width-92 inline-block" ng-show="isIn">
        <button ng-click="signin()" class="button loginRegisterButton" ng-disabled="showSpinner || regForm.$invalid">
            <span ng-show="!showSpinner" class="ng-animate-disabled" >Войти</span>
            <span ng-show="showSpinner"  class="ng-animate-disabled" spinner spinner-color="white"></span>
        </button>
        <div class="text-silver"><a href="#/signinup/up">зарегистрироваться</a></div>
    </div>
    <div class="width-92 inline-block" ng-hide="isIn">
        <button ng-click="signup()" class="button loginRegisterButton" ng-disabled="showSpinner || regForm.$invalid">
            <span ng-show="!showSpinner">Зарегистрироваться</span>
            <span ng-show="showSpinner" spinner spinner-color="white"></span>
        </button>
    </div>
    

    <div ng-hide="isIn" class="row text-silver">
        <div>
            <a href="#/phoneRegistration">
                <i class="fa fa-arrow-left"></i>
                <span>зарегистрировать номер</span>
            </a>
        </div>
        <div class="width-92 line"></div>
        <div>
            <a href="#/signinup/in">войти</a>
        </div>
    </div>
    <div ng-model="serverResponse" alert-box class="width-92 block-center pt1rem"></div>
      
  </form>


    <div class="ta-center" ng-hide="isWeb">
        <button class="vkLoginButton" ng-click="signinVk()">войти через <i class="fa fa-vk"></i></button>
    </div>

    <div class="ta-center" ng-show="isWeb">
        <a href="http://oauth.vk.com/authorize?client_id=4889771&redirect_uri=http://nemobile.herokuapp.com/vkloginProxy.html&response_type=token" title="Зайти через ВКонтакте">
            <button class="vkLoginButton">войти через <i class="fa fa-vk"></i></button>
        </a>
    </div>



</div>