<div class="loginRegisterForm"  >
    <form name="regForm" novalidate>
        <div class="width-92 inline-block">
          <!--  <label for="reg_user_name">Имя</label> -->
            <input id="reg_user_name" name="name" type="text" ng-model="newUser.name" placeholder="Имя" autocomplete="off" clear-all-button required>
        </div>
        <div class="width-92 inline-block">
         <!--    <label for="reg_user_password">Пароль</label> -->
            <input id="reg_user_password" name="password" type="password" ng-model="newUser.password" placeholder="Пароль" clear-all-button autocomplete="off"> 
        </div>
        <div class="squaredFour" ng-hide="isIn">
            <input type="checkbox" value="None" id="squaredFour" name="isAgreed" ng-model="newUser.isAgreed" />
            <label for="squaredFour"></label>
            я прочитал и согласен с  
            <a class="text-underline" href="#/about">правилами сервиса</a>
        </div> 
        <div class="width-92 inline-block" ng-show="isIn">
            <button ng-click="signin()" class="button loginRegisterButton" ng-disabled="showSpinner || regForm.$invalid">
                <span ng-show="!showSpinner" class="ng-animate-disabled" >войти</span>
                <span ng-show="showSpinner"  class="ng-animate-disabled" spinner spinner-color="white"></span>
            </button>
        </div>
        <div class="width-92 inline-block" ng-hide="isIn">
            <button ng-click="signup()" class="button loginRegisterButton" ng-disabled="showSpinner || regForm.$invalid || !newUser.isAgreed">
                <span ng-show="!showSpinner">Зарегистрироваться</span>
                <span ng-show="showSpinner" spinner spinner-color="white"></span>
            </button>
        </div>
        
    </form>

    <div ng-show="isIn" class="ta-center">
        <button class="vkLoginButton" ng-click="signinVk()">войти через <i class="fa fa-vk"></i></button>
    </div>
    <div ng-show="isIn" class="text-silver"><a href="#/phoneRegistration">зарегистрироваться</a></div>
    <div ng-hide="isIn" class="row text-silver">
        <div>
            <a href="#/phoneRegistration">
                <i class="fa fa-arrow-left"></i>
                <span>зарегистрировать номер</span>
            </a>
        </div>
        <div class="width-92 line"></div>
        <div>
            <a href="#/signinup/in">войти</a>
        </div>
    </div>
    <div ng-model="serverResponse" alert-box class="width-92 block-center pt1rem"></div>
</div>