<div overscrollable-without-footer ng-swipe-right="openMenu()" ng-swipe-left="closeMenu()" >
    <div class="ta-center pt1rem" ng-show="showSpinner">
        Подождите, пожалуйста. Чат открывается
        <span spinner></span>
    </div>
    <div class="ta-center pt1rem" ng-show="isEmpty">
        К сожалению, это сообщение истекло. Установите мобильное приложение или <span class="text-underline"><a href="#/updateProfile">зарегистрируйтесь</a></span>, чтобы не пропустить в следующий раз
        <div class="ta-center">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.phonegap.dubink"><img src="img/getongoogleplay.png" alt="googleplay"></a>
        </div>
    </div>
</div>