
<div ng-switch="model.category" in-view="postVisibility($inview, model)" in-view-options="{ offsetTop: 300, offsetBottom: -250 }">
  <!-- span.score(ng-class='{negative: post.score < 0}') {{ post.score }}.header-->
  <div class="header">
    <div class="title">{{ model.title }}</div>
  </div>
  <div ng-switch-when="link" ng-class="{'cut-image': model.cutImage}" ng-hide="model.showVideo" class="image-container"><img ng-src="{{model.data.link.image_url}}" cut-image="cutImage(model)" ng-click="activatePost(model)"/>
    <div ng-show="model.data.link.type == 'video'" ng-click="activatePost(model)" class="video-play"></div>
  </div>
  <div ng-show="model.showVideo" class="video-container">
    <iframe ng-src="{{model.videoUrl}}" width="560" height="315" src="" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <div ng-switch-when="gfy"><img data-id="{{ ::model.gfy }}" data-autoplay="false" class="gfyitem"/></div>
  <div ng-switch-default="" ng-transclude="" ng-class="{'cut-image': model.cutImage}" cut-image="cutImage(model)"></div>
  <div ng-show="model.cutImage" class="cut">
    <div class="torn">
      <button ng-click="model.cutImage = false"><i class="fa fa-angle-double-down"></i> {{ 'pubs.expand' | translate }}</button>
    </div>
  </div>
  <div class="separator"></div>
</div>