.chat
    .post-header
        .vote-control
            .vote-button(ng-click='like()', ng-class='{liked: liked}')
                i.fa.fa-chevron-up
            .score {{ post.score + liked - disliked }}
            .vote-button(ng-click='dislike()', ng-class='{disliked: disliked}')
                i.fa.fa-chevron-down
        .post-title
            h5 {{ post.title }}
        .post-duration(ng-show="post.duration")
            h5
                i.fa.fa-clock-o
                |  {{ post.duration }}
    messages(session='post.chat', preview='true')
    div(ng-show='post.link')
        .image-container(ng-hide='post.showVideo')
            img(ng-src='{{post.link.image_url}}' ng-click='activatePost(post)')
            .video-play(ng-show="post.link.type == 'video'" ng-click='activatePost(post)')
        .video-container(ng-show='post.showVideo')
            iframe(ng-src="{{post.videoUrl}}" width="100%" height="315" src="" frameborder="0" allowfullscreen scrolling=no)
    .center(style='padding-top: 27px')
        button(ng-click="router.goto('pubsList')")
            i.fa.fa-th-list
            |  Смотреть другие публикации
        button(ng-click="router.goto('random')")
            i.fa.fa-refresh
            |  Чат наугад
    a(ng-show=('post.link') ng-click="externalURL()")
        i.fa.fa-external-link
        |  Источник
    .pub-bottom-break
        img(src='assets/img/page-break.png')
    #disqus_thread
    .bottom-placeholder