
<div ng-controller="PublishPanelController">
  <div id="main-footer" class="ta-center">
    <div ng-model="errorDescription" alert-box=""></div>
    <div class="publish-button-container">
      <button ng-click="back()" class="publish-button publish-back-button"><i class="fa fa-chevron-left"></i></button>
      <button ng-click="reset()" class="publish-button grey">{{'publish.preview.reset' | translate }}</button>
      <button ng-click="publishPost()" class="publish-button"><span ng-show="!isPublishing" translate="publish.preview.publish"></span><span ng-show="isPublishing" spinner="" spinner-color="white"></span></button>
    </div>
  </div>
</div>