.row.top-margin(ng-hide='s.validUser')
   .ta-center
      .descr(ng-hide='notice')
         h5 Подтвердите аккаунт чтобы прочитать сообщение
         p(style="margin-bottom: 0; margin-top: 10px;")
            | Код сообщения: /{{shortCode}}
         p
            | Сообщение может прочитать только владелец аккаунта 
            b {{ provider.account }}
      .top-margin(ng-hide='notice')
         button(ng-click="confirm(provider)")
            i.fa(ng-class="'fa-' + provider.provider")
            | &nbsp; Подтвердить {{ ::provider.provider }}
         br
      div(ng-show='notice')
         | {{ notice }}
         br
         br
      .descr(ng-hide='link')
         p(style="text-indent: 0; text-align: center;")
            a(ng-click='showForWhat = !showForWhat') {{ 'secret.for_what' | translate}}&nbsp;
            span(ng-show='showForWhat' translate='secret.for_what_explain')
            br
            a(ng-click='showHowTo = !showHowTo') {{ 'secret.how_to' | translate}}&nbsp;
            span(ng-show='showHowTo' translate='secret.how_to_explain')
         button(ng-click="goto('sendSecret')")
            | Отправить свой секрет
.chat.top-margin(ng-show='s.validUser')
   .descr.columns
      p Это секретный диалог, вы можете ответить здесь отправителю. Вы так же можете
         a(ng-click="goto('sendSecret')") &nbsp;отправить свой секрет&nbsp;
         | пользователям твитера или инстаграма
   messages(session='s.fakeSession' chat='true')