.send-secret-providers button {
    width: 40px;
    height: 40px;
    padding: 9px;
}

.share-secret ul {
    list-style-type: none;
}

.durations button {
    min-width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

@media screen and (min-width: 480px) {
    .send-secret-providers {
        display: inline-block;
        width: 85px;
    }

    .send-secret-account {
        display: inline-block;
        width: 80%;
    }
}