<a ng-hide="chat.isExpired && !chat.isReplied" ng-repeat="chat in user.chats | orderObjectBy:isRead:true" ng-href="#/chat?senderId={{chat.senderId}}">
  <div class="chats-chat" ng-class="{'unread': !chat.isRead}">
    <div class="small-9 column">
        <span class="chat-title" ng-bind="chat.getChatTitle()"></span>
        <span class="small-gray-text chat-last-message-text" ng-bind="chat.lastUnexpiredChatSession.getLastMessage()"></span>
    </div>
    <div class="small-3 column" ng-show="chat.senderScores">
      <i class="fa fa-star"></i>
      <span ng-bind="chat.senderScores"></span>
    </div>
  </div>
</a>