<a href="#/stickersGallery">sticker gallery</a>
<a ng-repeat="chat in user.chats" ng-href="#/chat/{{chat.senderId}}">
    <div class="chats-chat" >
      <div class="small-9 column">
          <span class="chat-title" ng-bind="chat.getChatTitle()"></span>
          <span class="small-gray-text" ng-bind="chat.lastUnexpiredChatSession.getLastMessage()"></span>
      </div>
      <div class="small-3 column" ng-show="chat.senderScores">
        <i class="fa fa-star"></i>
        <span ng-bind="chat.senderScores"></span>
      </div>
    </div>
</a>
<div id="footer">
  
</div>