<div class="friendListHeader">
        <div class="ta-right">
            <div ng-show="!isEditMode" ng-click="isEditMode = true">
                <i class="fa fa-gear"></i>изменить
            </div>
            <div ng-show="isEditMode" ng-click="isEditMode = false">
                <i class="fa fa-check"></i>готово
            </div>
        </div>
        <div class="ta-center">
            <form name="listFilter">
                <input id="radio1" type="radio" name="showAll" ng-model="showAll" value="0" checked autocomplete="off">
                <label class="radioLabel" for="radio1">nepotom</label>
                <input id="radio2" type="radio" name="showAll" ng-model="showAll" value="1" autocomplete="off">
                <label class="radioLabel" for="radio2">все</label>
                <a href="#/friendSearch"><button class="friendListAddFriendButton">+</button></a>
            </form>
        </div>
    </div>
<div class="friend-list" overscrollable-without-footer>
    <div class="friendList">
        <div class="ta-center mt20" ng-show="user.friendsList.friends.length === 0">
            У вас пока нету друзей <br>    
            Нажмите
            <a href="#/friendSearch"><button class="friendListAddFriendButton">+</button></a>
            чтобы найти друга 
        </div>
        <div class="row friend" ng-repeat="friend in user.friendsList.friends" ng-show="showAll === '1'">
            <a ng-href="{{getFriendLink(friend)}}" >
                <div class="columns hide-overflow-text h100p" ng-bind="friend.displayName" ng-class="{'small-12': !isEditMode, 'small-6': isEditMode}"></div>
            </a>
            <div class="small-6 columns hide-overflow-text ta-right" ng-show="isEditMode" ng-class="{'animated-min fadeInRight': isEditMode}" stop-event>
                <span class="category-button category-button-red"  ng-click="removeFriend(uuid)">
                    <i class="fa fa-trash"></i>
                </span>
            </div>
        </div>
        <div class="row friend" ng-repeat="friend in user.friendsList.nepotomFriends" ng-show="showAll === '0'">
            <a ng-href="{{getFriendLink(friend)}}" >
                <div class="columns hide-overflow-text h100p" ng-bind="friend.displayName" ng-class="{'small-12': !isEditMode, 'small-6': isEditMode}"></div>
            </a>
            <div class="small-6 columns hide-overflow-text ta-right" ng-show="isEditMode" ng-class="{'animated-min fadeInRight': isEditMode}" stop-event>
                <span class="category-button category-button-red"  ng-click="removeFriend(uuid)">
                    <i class="fa fa-trash"></i>
                </span>
            </div>
        </div>
    </div>
</div>