<div class="pt1rem">
  <div class="width-92 block-center inline-input-button-block">
    <form name="friendSearch">
      <input type="text" ng-model="nameToSearch">
      <button ng-click="findUserByName()" ng-disabled="showSpinner">
        <i class="fa fa-search" ng-show="!showSpinner"></i>
        <span ng-show="showSpinner" spinner spinner-color="white"></span>
      </button>
    </form>
  </div>
  
  <div class="width-92 block-center">
    <div class="card" ng-show="canBeAdded">
      <div class="row">
        <div class="small-3 column ava-container">
          <img class="rounded-ava" ng-src="http://api.adorable.io/avatars/40/{{foundUuid}}" alt=""> 
        </div>
        <div class="small-6 column p0">
            <span class="chat-title title" ng-bind="nameToAdd"></span>
        </div>
        <div class="small-3 column">
           <i class="fa fa-plus-circle addButton" ng-click="addToFriends()"></i>
        </div>
      </div>
    </div>
    <div class="ta-center" ng-show="!canBeAdded">
        <span ng-bind="serverResponse"></span><br>
        <a ng-show="foundUuid" ng-href="#/chat?senderId={{foundUuid}}"><button>перейти к чату</button></a> 
    </div>
  </div>
</div>