<div class="pt1rem">
  <div class="ta-center">
    <form name="searchByForm" class="checkbox-group-rounded no-select">
        <input id="radio2" type="radio" ng-model="searchBy" name="ttl" value="0" checked autocomplete="off">
        <label class="radioLabel" for="radio2">имя</label>
        <input id="radio3" type="radio" ng-model="searchBy" name="ttl" value="1" autocomplete="off">
        <label class="radioLabel" for="radio3">телефон</label>
    </form>
  </div>

  <div class="width-92 block-center inline-input-button-block" ng-show="searchBy === '0'">
    <form name="friendSearch">
      <input type="text" ng-model="nameToSearch" placeholder="введите имя">
      <button ng-click="findUser()" ng-disabled="showSpinner">
        <i class="fa fa-search" ng-show="!showSpinner"></i>
        <span ng-show="showSpinner" spinner spinner-color="white"></span>
      </button>
    </form>
  </div>

  <div class="width-92 block-center" ng-show="searchBy === '1'">
    <form name="friendSearch">
      <div class="searchByPhoneInput">
        <input type="text" international-phone-number preferred-countries="ru" ng-model="phoneToSearch">
      </div>
      <button ng-click="findUser()" ng-disabled="showSpinner" class="searchByPhoneButton">
        <i class="fa fa-search" ng-show="!showSpinner"></i>
        <span ng-show="showSpinner" spinner spinner-color="white"></span>
      </button>
    </form>
  </div>

  <div class="width-92 block-center">
    <div class="card" ng-show="canBeAdded">
      <div class="row">
        <div class="small-3 column ava-container">
          <img class="rounded-ava" ng-src="http://api.adorable.io/avatars/40/{{foundUuid}}" alt=""> 
        </div>
        <div class="small-6 column p0">
            <span class="chat-title title" ng-bind="nameToAdd"></span>
        </div>
        <div class="small-3 column">
           <i class="fa fa-plus-circle addButton" ng-click="addToFriends()"></i>
        </div>
      </div>
    </div>
    <div class="ta-center" ng-show="!canBeAdded">
        <span ng-bind="serverResponse"></span><br>
        <a ng-show="foundUuid" ng-href="#/chat?senderId={{foundUuid}}"><button>перейти к чату</button></a> 
    </div>
  </div>
</div>