<div class="pt1rem">
  <div class="width-92 block-center inline-input-button-block">
    <input type="text" ng-model="nameToSearch">
    <button ng-click="findUserByName()" ng-disabled="showSpinner">
      <i class="fa fa-search" ng-show="!showSpinner"></i>
      <span ng-show="showSpinner" spinner spinner-color="white"></span>
    </button>
  </div>
  
  <div ng-show="canBeAdded">
    <div class="small-10 columns">
      <span ng-bind="nameToAdd"></span><br>
      <span class="small-gray-text" ng-bind="foundUuid"></span><br>
    </div>
    <div class="small-2 columns">
      <i class="fa fa-plus-circle addButton" ng-click="addToFriends()"></i>
    </div>
  </div>

  <div class="ta-center" ng-show="!canBeAdded">
      <span ng-bind="serverResponse"></span><br>
      <a ng-show="foundUuid" ng-href="#/chat?senderId={{foundUuid}}"><button>перейти к чату</button></a> 
  </div>
</div>