doctype html
//
  Copyright (C) 2015 DUB.iNK - All Rights Reserved
  This file is part of dub.ink
  dub.ink can not be copied and/or distributed without the express
  permission of DUB.INK
html
  head
    title Чат наугад - DUB.iNK
    meta(name='description', content='Чат без регистрации, где можно просто пообщаться или завести новые знакомства через быстрые диалоги без ожиданий')
    meta(property='og:image', content='http://dub.ink/assets/img/screen1.jpg')
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    base(href="/")

    if (css_files)
      each file in css_files
        link(rel='stylesheet', type='text/css', href=file)

    link(rel='apple-touch-icon', sizes='57x57', href='assets/img/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='assets/img/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='assets/img/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='assets/img/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='assets/img/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='assets/img/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='assets/img/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='assets/img/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='assets/img/favicons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='assets/img/favicons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='assets/img/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='assets/img/favicons/favicon-16x16.png')
    link(rel='manifest', href='assets/img/favicons/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='img/favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    script(type='text/javascript', src='cordova.js')
    script(src='//multi1.herokuapp.com/socket.io/socket.io.js')

    if (js_files)
      each file in js_files
        script(type='text/javascript', src=file)

    if (prod_js_file)
      script(type='text/javascript', src=prod_js_file, onerror="location.reload()")

  body(ng-controller='mainController')
    .snap-drawers
      .snap-drawer.snap-drawer-left
        aside.left-off-canvas-menu
          .iphone-hack.iphone-menu-margin
          div(ng-include="'app/core/menu.html?'+version", ng-controller='menuController')
    .off-canvas-wrap.snap-content(slide-menu='', data-offcanvas='')
      .prevent-click
      .iphone-hack.iphone-status-bar-margin
      .inner-wrap
        nav.tab-bar.no-select
          section.left-small.pointer.ta-center
            a.menu-icon(ng-hide='isBackArrownShown || customSmallIconInner', ng-click='toggleMenu()')
              span
            a.icon_button(ng-show='isBackArrownShown && !customSmallIconInner', ng-click='backArrowHandler()')
              i.fa.fa-chevron-left.ml10
            span.customSmallIcon(ng-show='customSmallIconInner', ng-click='customSmallIconHandler()', ng-bind-html='customSmallIconInner')
          section.middle.tab-bar-section.p0
            h1.title
              div(ng-show='routing.is_preload')
                span(spinner='', spinner-color='white')
              div(ng-hide='notification.text || routing.is_preload', ui-view='title')
              .notification(ng-show='notification.text && !routing.is_preload', ng-class="{'animated fadeIn': notification.animated}")
                span.pointer(ng-click='notification.handler()')
                  img.chat-toolbar-image.pointer(ng-show='notification.ava_url', ng-src='{{notification.ava_url}}')
                  span(ng-bind='notification.text')
                  span.typing(ng-show='notification.typing', ng-bind='notification.typing_label')
                span(ng-include="'app/utils/complaintMenu.html?'+version", ng-controller='complaintController')
          section.right-small.chat-right-tool(ng-cloak='', ng-show='isChat()')
            .publish
              a.icon_button(ng-click='publish()', title='Предварительный просмотр для публикации чата')
                i.fa.fa-share-alt
            .time_zone(ng-show='notification.time')
              i.fa.fa-clock-o
              span(ng-bind='notification.time')
              .dubink DUB.iNK
          section.right-small.ta-center(ng-cloak='', ng-show='isRandomHome() && user.score && isUserScoreShown')
            i.fa.fa-star
            |&nbsp;
            span(ng-bind='user.score')
        section.main-section(ng-class="{branded: isBranded() }")
          // content goes here
          // MAIN CONTENT
          #wrapper(ng-hide='routing.is_preload')
            .content(ui-view='content')
              block content
        a.exit-off-canvas
