<div class="chat" overscrollable-with-footer ng-swipe-right="openMenu()" ng-swipe-left="closeMenu()" >
    <div class="firstMessage ta-center chat-notification width-92 block-center" ng-show="isFirstMessage && !fromRandom">
        <div>ваше первое сообщение</div>
        <radio-buttons values="[10, 600, 3600]" titles="['10 сек', '10 мин', '1 час']" ng-model="newMessage.ttl"></radio-buttons> 
    </div>
    <!-- <div class="ta-center chat-notification width-92 block-center" ng-show="user.isVirtual">
        Чтобы разблокировать все функции приложения. Необходима регистрация.
        <br>
        <div class="pt1rem">
            <a href="#/updateProfile"><button>зарегистрироваться</button></a>
        </div>
    </div> -->
    <div class="ta-center width-92 block-center pt1rem" ng-show="fromRandom">
        <button class="bg-red" ng-click="disconnectRandomChat()">
            <span ng-show="isPaired" >отключиться</span>
            <div  ng-hide="isPaired" spinner spinner-color="white"></div>
        </button>
    </div>
    
    <div class="ta-center width-92 block-center chat-notification" ng-show="chat.isVirtual ">
        Это виртуальный чат. Пригласите друга, чтобы разблокировать все функции
        <div class="pt1rem">
            <a href="#/invitation?friendIndex={{chat.friendIndex}}&senderId={{chat.senderId}}"><button>Пригласить</button></a>
        </div>
    </div>
    <div class="ta-center chatHistoryButton width-92 block-center" ng-show="!chatHistory.isAllChatSessionsVisbile">    
        <button ng-click="chatHistory.getOneMoreChatSession()">Показать предыдущие сообщения</button>
    </div>
    <div class="old-messages-background" ng-show="chatHistory.previousMessages.length" ng-repeat="message in chatHistory.previousMessages track by $index" class="message-container" ng-class="{'ta-right': message.isOwn}">
        <span class="message" ng-class="::{'message-own': message.isOwn, 'message-not-own': !message.isOwn }" ng-bind-html="::formatMessage(message.text)" hm-double-tap="addStickerURL(message)"></span>
    </div>
    <div ng-repeat="message in chatSession.messages track by $index" class="message-container" ng-class="{'ta-right': message.isOwn}">
        <span class="message" ng-class="::{'message-own': message.isOwn, 'message-not-own': !message.isOwn }" ng-bind-html="::formatMessage(message.text)" hm-double-tap="::addStickerURL(message)"></span>
    </div>
    <div class="h13"></div>
</div>
<div id="footer">
    <div class="appropriateStickers-container" ng-show="appropriateStickers.length" ng-class="{'animated fadeIn': appropriateStickers.length}" >
        <img ng-src="{{::image.url}}"  ng-repeat="image in appropriateStickers track by $index" ng-click="::sendAppropriateSticker(image.url)">
    </div>
    <div ng-model="errorDescription" alert-box></div>
    <div class="chat-buttons-container">
        <div class="chat-left-buttons">
            <div class="chat-sticker-button pointer" ng-click="isStickersGalleryVisiable = !isStickersGalleryVisiable">
                <i class="fa fa-image"></i>
            </div>
            <div class="chat-input-container">
                <input data-snap-ignore="true" type="text" class="chat-input" ng-focus="scrollToBottom()" ng-model="newMessage.text" ng-keypress="checkIfEnter($event)" ng-change="findAppropriateStiker()">
            </div>
        </div>
        <button class="chat-send ng-animate-disabled" ng-focus="setFocusOnTextField()" ng-click="sendMessage()">
            <i ng-show="!isMessageSending" class="fa fa-paper-plane"></i>
            <span ng-show="isMessageSending" spinner spinner-color="white"></span>
        </button>
        <!-- <button class="chat-send" ng-click="chatSession.close()">close</button> -->
        <div class="stickersGallery-container" ng-show="isStickersGalleryVisiable">
            <div class="stickersGallery" ng-class="{'animated bounceInUp': isStickersGalleryVisiable}" stickers-gallery-height>
                <div class="stickersGallery-spinner" ng-show="!stickersGallery.categories" spinner>                    
                </div>
                <div class="ta-right" ng-show="stickersGallery.categories">
                    <a ng-href="#/stickersGallery?fromChat={{chatSession.senderId}}">настройки <i class="fa fa-gear"></i></a>
                </div>
                <div ng-repeat="category in stickersGallery.categories" class="category">
                    <div class="category-name" ng-click="::toggleCategory(category)" ng-bind="::category.name" ng-class="::{'category-name-rounded': category.name != stickersGallery.currentCategory }"></div>
                    <div ng-show="category.name == stickersGallery.currentCategory" class="category-content">
                        <div class="ta-center" ng-show="!category.images.length">
                            В этой категории нету стикеров
                        </div>
                        <div class="stickers-gallery-image-wrapper" ng-repeat="image in category.images">
                            <img alt="gif" class="category-img" ng-src="{{image.url}}" ng-click="::sendSticker(image.url)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>