<div class="chat" overscrollable-with-footer>
    <div class="firstMessage ta-center" ng-show="isFirstMessage">
        <div>ваше первое сообщение</div>
        <form name="ttl_form" class="checkbox-group-rounded no-select">
          <!--   <input id="radio1" type="radio" ng-model="newMessage.ttl" name="ttl" value="10" checked autocomplete="off">
            <label class="radioLabel" for="radio1">10 сек</label> -->
            <input id="radio2" type="radio" ng-model="newMessage.ttl" name="ttl" value="600" autocomplete="off">
            <label class="radioLabel" for="radio2">10 мин</label>
            <input id="radio3" type="radio" ng-model="newMessage.ttl" name="ttl" value="3600" autocomplete="off">
            <label class="radioLabel" for="radio3">1 час</label>
            <input id="radio4" type="radio" ng-model="newMessage.ttl" name="ttl" value="86400" autocomplete="off">
            <label class="radioLabel" for="radio4">1 день</label>
        </form>
    </div>
    <div class="ta-center" ng-show="!chatHistory.isAllChatSessionsVisbile">    
        <button ng-click="chatHistory.getOneMoreChatSession()">Показать предыдущие сообщения</button>
    </div>
    <div class="old-messages-background" ng-show="chatHistory.previousMessages.length" ng-repeat="message in chatHistory.previousMessages track by $index" class="message-container" ng-class="{'ta-right': message.isOwn}">
        <span class="message" ng-class="{'message-own': message.isOwn, 'message-not-own': !message.isOwn }" ng-bind-html="formatMessage(message.text)" hm-double-tap="addStickerURL(message)"></span>
    </div>
    <div ng-repeat="message in chatSession.messages track by $index" class="message-container" ng-class="{'ta-right': message.isOwn}">
        <span class="message" ng-class="{'message-own': message.isOwn, 'message-not-own': !message.isOwn }" ng-bind-html="formatMessage(message.text)" hm-double-tap="addStickerURL(message)"></span>
    </div>
    <div class="h13"></div>
</div>
<div id="footer">
    <div ng-show="errorDescription" data-alert class="alert-box alert m0">
        <span ng-bind="errorDescription"></span>
        <span ng-click="closeErrorDescription()" class="close">&times;</span>
    </div>
    <div class="chat-buttons-container">
        <div class="chat-left-buttons">
            <div class="chat-sticker-button" ng-click="isStickersGalleryVisiable = !isStickersGalleryVisiable">
                <i class="fa fa-image"></i>
            </div>
            <div class="chat-input-container">
                <input type="text" class="chat-input" ng-focus="scrollToBottom()" ng-model="newMessage.text" ng-keypress="checkIfEnter($event)">
            </div>
        </div>
        <button class="chat-send ng-animate-disabled" ng-focus="setFocusOnTextField()" ng-click="chat.sendMessage()">
            <i ng-show="!isMessageSending" class="fa fa-paper-plane"></i>
            <span ng-show="isMessageSending" spinner spinner-color="white"></span>
        </button>
        <!-- <button class="chat-send" ng-click="chatSession.close()">close</button> -->
        <div class="stickersGallery-container" ng-show="isStickersGalleryVisiable">
            <div class="stickersGallery" ng-class="{'animated bounceInUp': isStickersGalleryVisiable}" stickers-gallery-height>
                <div class="stickersGallery-spinner" ng-show="!stickersGallery.categories" spinner>                    
                </div>
                <div class="ta-right" ng-show="stickersGallery.categories">
                    <a ng-href="#/stickersGallery?fromChat={{chatSession.senderId}}">настройки <i class="fa fa-gear"></i></a>
                </div>
                <div ng-repeat="category in stickersGallery.categories" class="category">
                    <div class="category-name" ng-click="toggleCategory(category)" ng-bind="category.name" ng-class="{'category-name-rounded': category.name != stickersGallery.currentCategory }"></div>
                    <div ng-show="category.name == stickersGallery.currentCategory" class="category-content">
                        <div class="ta-center" ng-show="!category.images.length">
                            В этой категории нету стикеров
                        </div>
                        <div class="stickers-gallery-image-wrapper" ng-repeat="image in category.images">
                            <img alt="gif" class="category-img" ng-src="{{image.url}}" ng-click="sendSticker(image.url)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>