md-menu
    md-button(ng-click="$mdOpenMenu($event)" aria-label="languageMenu")
        span(class="current-language" ng-bind="language.current.name" )
        i.fa.fa-language
    md-menu-content
        md-menu-item(ng-repeat="item in language.available")
            md-button(ng-bind="item.name" aria-label="::item.name" ng-click="language.change(item.key)")
