html{
  height: 100%;
}
body{
  height: 100%;
  font-size: 1.3rem !important;
}



#wrapper{
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 8rem;
}

#footer{
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
}


.off-canvas-wrap, .inner-wrap, .main-section, #friends, #friendsList, #friendsList ul{
  height: 100%;
}



#friendsList ul{
  padding: 0;
  margin: 0 0.7rem;
  overflow: auto;
}

#friendsList ul li{
  list-style: none;
  /*
  -webkit-transition: background-color 0.07s; */ /* For Safari 3.1 to 6.0 */
/*  transition: background-color 0.07s;*/
}

.loginRegisterForm{
  text-align: center;
}

.loginRegisterButton{
  margin-top: 1rem;
}

.addFriendButton{
  margin: 0.5rem;
  display: block;
}

.mainButton{
  display: block;
  margin: 0.5rem 0.5rem 0 0.5rem;
}







.hidden{
  display: none;
}
.width-92{
  width: 92% !important;
}
.inline-block{
  display: inline-block;
}


label, input, button, .button{
  font-size: 1.3rem !important;
  height: auto;
}

.off-canvas-list{
  font-size: 1.3rem;
}







ul,
ol,
dl {
  font-size: 1.3rem;
}

input[type=text]{
  height: auto;
}


button.friend, .button.friend {
  font-size: 1.5rem;
  display: block;
  background-color: #5dc641;
  border-color: #cf2a0e;
  color: white;
  margin-bottom: 0.1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  -webkit-tap-highlight-color: rgba(90,255,10, 0.3);
}

a.button:hover{
  color: white;
}

.modal{
  top: 20% !important;
  left: 7%;
  width: 86%;
  max-width: none;
  padding: 1rem;
  min-height: 0px !important;
}


.modal-button{
  padding: 1rem;
}

.leftmost-button{
  margin-right: 0.7rem;
}

@media only screen and (max-height: 20rem){
  .modal{
    top: 0 !important;
  }
}