 @font-face {
  font-family: "Open Sans Normal";
  src: url("../fonts/OpenSans-Regular.ttf");
 }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
 }
html{
  height: 100%;
}
body{
  background-color: #F1F3F6;
  height: 100%;
  font-size: 1.0rem !important;
  font-family: "Open Sans Normal";
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
button {
  -webkit-user-select: none; 
  user-select: none;
}

input[type="password"] {
  height: 36px;
}

input[type=checkbox] {
  visibility: hidden;
}

.no-select {
  -webkit-user-select: none; 
  user-select: none;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.ta-center {
  text-align: center;
}
.ta-justify {
  text-align: justify;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.title div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.line {
  height: 1px;
  background-color: rgba(189,195,199,.3);
  margin: 10px auto;
}
.relative {
  position: relative;
}
.text-white {
  color: #FFF;
}
.text-silver {
  color: #bdc3c7;
}
.text-red {
  color: #e74c3c;
}
.text-bold {
  font-family: "Open Sans Bold";
}
.text-underline {
  text-decoration: underline;
}
.bg-red {
  background: #e74c3c;
}
.pointer:hover {
  cursor: pointer;
}
.h13 {
  height: 13px;
}
.h41 {
  height: 41px;
}
.h100p {
  height: 100%;
}
.mt20 {
  margin-top: 20px;
}
.m0 {
  margin: 0;
}
.ml10 {
  margin-left: 10px;
}
.mb1rem {
  margin-bottom: 1rem;
}
.p0 {
  padding: 0;
}
.max-width {
  max-width: 100%;
}
.pt1rem {
  padding-top: 1rem;
}
.w22 {
  width: 22px;
}
.w80 {
  width: 80px !important;
}
.w250 {
  width: 250px;
}
.grey-line {
  height: 1px;
  background: #D7D7DC;
  margin: 13px 0;
}
.fullBlockLink {
  display: block;
  height: 100%;
  width: 100%;
}
.iphone-hack {
  display: none;
}
.iphone-status-bar-margin {
  background-color: #68C168;
  height: 20px;
}
.iphone-menu-margin {
  background-color: #363645;
  height: 20px;
}
a {
  color: inherit;
}

h1.title {
  font-family: "Open Sans Normal";
}

.hide-overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-bar {
  background-color: #68C168;
  border-bottom: 2px solid #3F853F;
}
.left-off-canvas-menu {
  background-color: #363645;
}
.rounded-ava {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
}
ul.off-canvas-list li a.menu-item {
  padding-left: 20px;
}
ul.off-canvas-list li a {
  border-bottom: 1px solid #2A2935;
}

#wrapper{
  height: 100%;
  width: 100%;
  padding-bottom: 8rem;
  overflow: hidden;
}

#footer{
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 100;
}

.off-canvas-wrap, .inner-wrap, .main-section, #friends, #friendsList, #friendsList ul{
  height: 100%;
}

.loginRegisterForm{
  padding-top: 1rem;
  text-align: center;
}

.loginRegisterButton{
  margin-top: 1rem;
}

.addFriendButton{
  margin: 0.5rem;
  display: block;
}
.menu-ava-container {
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  font-size: 1.3rem;
}
.change-ava-button {
  display: inline-block;
  padding: 0px 9px;
}
.change-ava-button:hover {
  cursor: pointer;  
}
.mainButton{
  display: block;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.hidden{
  display: none;
}
.width-92{
  width: 92% !important;
}
.inline-block{
  display: inline-block;
}


label, input, button, .button{
  font-size: 1.0rem !important;
  height: auto;
}
label {
  margin-bottom: 0.3rem;
}

.off-canvas-list{
  font-size: 1.3rem;
}
ul,
ol,
dl {
  font-size: 1.3rem;
}

input[type=text]{
  height: auto;
}


button.friend, .button.friend {
  font-size: 1.5rem;
  display: block;
  background-color: #5dc641;
  border-color: #cf2a0e;
  color: white;
  margin-bottom: 0.1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  -webkit-tap-highlight-color: rgba(90,255,10, 0.3);
}

a.button:hover{
  color: white;
}

.modal{
  top: 20% !important;
  left: 7%;
  width: 86%;
  max-width: none;
  padding: 1rem;
  min-height: 0px !important;
}

.block-center {
  display: block;
  margin: 0 auto;
}

.modal-button{
  padding: 1rem;
}

.leftmost-button{
  margin-right: 0.7rem;
}

.card {
  padding: 15px 0;
  color: #D7D7DC;
  border-bottom: 1px solid #D7D7DC;
  font-family: "Open Sans Normal";
  height: 87px;
}
.card .title {
  color: #4C5162;
  font-family: "Open Sans Bold";
  font-size: 1.3rem;
}
.card .rounded-ava {
  margin-right: 10px;
  margin-top: 8px;
}
.card .ava-container {
  position: relative;
  text-align: right;
}
.card .new-message-ava {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, .5);
  top: 13px;
  right: 30px;
  border-radius: 15px;
  border: 3px solid #FFF;
  font-size: 15px;
  text-align: center;
  color: #FFF;
}
.chatHistoryButton {
  margin-top: 12px;
}
.chats-chat.unread {
  background: rgba(52, 152, 219, .2);
}
.chat-last-message-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-title {
  height: 31px;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.3rem;
}
.chats-chat:active {
  background-color: #ecf0f1;
}
.chat-toolbar-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: -5px;
  margin-right: 5px;
  object-fit: cover;
}
.chat-notification {
  background: rgba(46, 204, 113,0.3);
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}
.small-gray-text {
  font-size: 17px;
  color: #7f8c8d;
}

.content {
  height: 100%;
}
.chat {
  background-image: url(../img/chat_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.overscrollable {
  height: 100%;
  width: 100%;
  padding-right: 15px;
  box-sizing: content-box;
  overflow: auto;
}
.overscrollable-fullscreen {
  height: 38rem;
  width: 100%;
  padding-right: 15px;
  box-sizing: content-box;
  overflow: auto;
}
.chat-input-container {
  padding-left: 35px;
  box-sizing: border-box;
}
input.chat-input {
  width: 100%;
  display: block;
  vertical-align: top;
  border-radius: 5px;
}
button.chat-send {
  vertical-align: top;
  width: 18%;
  padding: 0;
  height: 36px;
  border-radius: 5px;
  margin-right: 2px;
  margin-left: -2px;
}
.chat-sticker-button {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  color: #FFF;
  width: 30px;
}
.stickersGallery {
  padding: 10px;
}
.stickersGallery-container {
  padding-right: 15px;
  width: 100%;
  overflow: auto;
  background-color: #B3E5FC;
  box-sizing: content-box;
}
.stickersGallery-spinner {
  color: #FFF;
  text-align: center;
}
.stickersGallery .category {
  background: #81D4FA;
  border-radius: 15px;
  margin: 5px;
}
.stickersGallery .category-name {
  padding: 5px;
  text-align: center;
  background: #29B6F6;
  border-radius: 15px 15px 0 0;
}
.stickers-gallery-image-wrapper {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin: 2px;
}
.category-button {
  display: inline-block;
  background: #fff;
  padding: 2px 10px;
  border-radius: 17px;
}
.category-button-blue {
  color: #FFF;
  background: #008cba;
}
.category-button-red {
  color: #FFF;  
  background: #e74c3c;
}
.category-button-green {
  color: #FFF;
  background: #2ecc71;
}
input.category-name-change-input {
  margin-bottom: 0;
  background: #29B6F6;
  border: 0;
  box-shadow: none;
  padding-bottom: 2px;
  border: 1px solid #000;
}
.category-img {
  margin-bottom: 5px;
}
.image-button {
  margin-bottom: 2px;
  display: inline-block;
  color: #FFF;
  background: #29B6F6;
  padding: 2px 10px;
  border-radius: 17px;
}
.searchByPhoneInput {
  width: 74%;
  display: inline-block;
}
.searchByPhoneButton {
  width: 24%;
  padding: 5px;
  box-sizing: border-box;
  height: 46px;
}
.button-add-category {
  background: #68C168 !important;
}
.stickersGallery .category-content {
  padding: 10px;
}
.category-name-rounded {
  border-radius: 15px !important;
}

.message-container {
  margin-top: 10px;
}
.message {
  border-radius: 5px;
  position: relative;
  display: inline-block;
  max-width: 90%;
  word-break: break-word;
  padding: 5px 15px;
}
.message-link {
  text-decoration: underline;
}
.message-own {
  background-color: rgba(104, 194, 110, .3);
  margin-right: 10px;
}
.message-own:after {
  content: '';
  top: 7px;
  position: absolute;
  right: -20px;
  border: 10px solid transparent;
  border-left: 10px solid rgba(104, 194, 110, .3)
}
.old-messages-background {
  padding: 10px 0;
  background: rgba(52, 152, 219, .1)
}
.message-not-own {
  background-color: rgba(89, 131, 158, .3);
  margin-left: 20px; 
}
.message-not-own:after {
  content: '';
  top: 7px;
  position: absolute;
  left: -20px;
  border: 10px solid transparent;
  border: 10px solid transparent;
  border-right: 10px solid rgba(89, 131, 158, .3);
}
.chat-buttons-container {
  background-color: #363645;
  padding-top: 10px;
}
.chat-left-buttons {
  display: inline-block;
  position: relative;
  width: 80%;
}
.exitButtons {
  padding-top: 1rem;
}
.exitButtons button {
  width: 110px;
}

.inline-input-button-block input {
  display: inline-block;
  width: 74%;
  vertical-align: top;
  position: relative;
}

.inline-input-button-block button {
  width: 24%;
  height: 36px;
  padding: 0;
  border-radius: 5px;
}
.addButton {
  font-size: 2rem;
  color: #2ecc71;
}
.addButton:active {
  color: #27ae60;
}
.add-image-preview {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.appropriateStickers-container {
  height: 200px;
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
}
.appropriateStickers-container img {
max-height: 100%;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
margin-right: 10px;
}
/*.friend-list .friend {
  padding-top: 5px;
  height: 65px;
  border-bottom: 1px solid #7f8c8d;
}*/

.firstMessage {
  margin-bottom: 20px;
}

.settings-property-value {
  color: #bdc3c7;
}
.settings div {
  word-wrap: break-word;
}

.friendListHeader {
  box-shadow: 0 2px 5px rgba(193,193,193, .7);
  padding-bottom: 10px;
  width: 100%;
  background-color: #C4ECC4;
  /*z-index: 1000;*/
}
.friendListHeader-edit-block {
  padding: 5px 20px;
  height: 41px;
}
.friendList {
  /*padding-top: 90px;*/
}
.friendListAddFriendButton {
  background-color: #5BAB60;
  margin: 0 !important;
  padding: 5px 18px 8px;
  border-radius: 0px 10px 10px 0;
}
.invitation-message {
  padding: 10px 0;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  margin: 10px 0;
}
textarea.invitationText {
  min-height: 110px;
}
.socialShareButtonsMini button {
  width: 50px;
  padding: 10px;
}
.socialButtonsWeb ul {
  list-style-type: none;
}
.socialButtonsWeb li {
  display: inline-block;

}
.socialButtonsWeb button {
  width: 50px;
  padding: 10px;
}
.tags-container {
  background: rgba(255,255,255, 0.8);
  border-radius: 5px;
}
.tag {
  background: #3498db;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  color: #FFF;
}
.tag-add-block input {
  display: inline-block;
  width: 80%;
}
.menu-new-messages-number {
  display: inline-block;
  background: rgba(255,255,255, 0.2);
  width: 33px;
  text-align: center;
  border-radius: 15px;
  text-shadow: 0 0 5px rgba(255,255,255,0.8);
}
img.imageShow {
  max-width: 100%;
  max-height: 100%;
}
.clear-all-wrapper {
  position: relative;
}
.clear-all-button {
  position: absolute;
  top: 7px;
  right: 10px;
  color: rgba(104, 193, 104, .3);
}
.clear-all-button-inline {
  right: 28%;
}
.clear-all-button:hover {
  cursor: pointer;
}
.vkLoginButton {
  background: #3498db;
}
.tabs-menu {
    border-radius: 10px;
    border: 1px solid #3E8743;
    display: inline-block;
    padding: 0;
    background: #3E8743;
    overflow: hidden;
}
.tabs-menu li {
    display: inline-block;
    vertical-align: top;    
}
.tabs-menu-item {
    margin-right: 1px;
    background: #5BAB60;
    transition: all 0.3s ease;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.tabs-menu-item span {
    color: #FFF ;
    padding: 5px 10px;
    display: block;
}
.tabs-menu span:hover {
  cursor: pointer;
}
.tabs-menu-item.is-active {
  background: #3E8743; 
}
.tabs-navigation {
  height: 45px;
}
/*elements css*/
@media only screen and (max-height: 20rem){
  .modal{
    top: 0 !important;
  }
}

/*spinner css*/
.spinner {
  margin: 0 auto 0;
  width: 100%;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.grey {
  background: rgba(149, 165, 166, .8);
}

.black {
  background: rgba(0, 0, 0, .8);
}

.white {
  background: rgba(255, 255, 255, .8);
}

.blue {
  background: #4D6EA3;
}

/*webview animation*/
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/  
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

/*radio buttons styles*/
input[type="radio"] {
  display:none;
}
.radioLabel {
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top !important;
  cursor: pointer;
  margin: 0 !important;
  margin-right: 1px !important;
  -webkit-user-select: none; 
  user-select: none;
  height: 35px;
  background-color: #5BAB60;
}

input[type="radio"]:checked + .radioLabel {
 background-color: #3E8743;
}

.checkbox-group-rounded { 
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
  background: #3E8743;
  border: 1px solid #3E8743;
}
.radioLabel,
.radioLabel  {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-file-input {
  color: #F1F3F6;
  outline: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  outline: none;
}
.custom-file-input::before {
  content: 'Выбрать из моей галереи';
  display: inline-block;
  color: #FFF;
  font-family: "Open Sans Normal";
  background: #5BAB60;
  border-radius: 3px;
  padding: 10px 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.custom-file-input:hover::before {
  border-color: black;
}
/*custome checkbox*/
.squaredFour {
  position: relative;
}

.squaredFour label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 0;
  border-radius: 4px;
  margin: 0 !important;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 14px;
  height: 8px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredFour input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}