html{
  height: 100%;
}
body{
  height: 100%;
  font-size: 1.3rem !important;
}

.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.text-white {
  color: #FFF;
}
.m0 {
  margin: 0;
}
.iphone-status-bar-margin {
  background-color: #333333;
  height: 20px;
  display: none;
}
a {
  color: inherit;
}

#wrapper{
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 8rem;
  overflow: hidden;
}

#footer{
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
}


.off-canvas-wrap, .inner-wrap, .main-section, #friends, #friendsList, #friendsList ul{
  height: 100%;
}



#friendsList ul{
  padding: 0;
  margin: 0 0.7rem;
  overflow: auto;
}

#friendsList ul li{
  list-style: none;
  /*
  -webkit-transition: background-color 0.07s; */ /* For Safari 3.1 to 6.0 */
/*  transition: background-color 0.07s;*/
}

.loginRegisterForm{
  text-align: center;
}

.loginRegisterButton{
  margin-top: 1rem;
}

.addFriendButton{
  margin: 0.5rem;
  display: block;
}

.mainButton{
  display: block;
  margin: 0.5rem 0.5rem 0 0.5rem;
}







.hidden{
  display: none;
}
.width-92{
  width: 92% !important;
}
.inline-block{
  display: inline-block;
}


label, input, button, .button{
  font-size: 1.3rem !important;
  height: auto;
}

.off-canvas-list{
  font-size: 1.3rem;
}







ul,
ol,
dl {
  font-size: 1.3rem;
}

input[type=text]{
  height: auto;
}


button.friend, .button.friend {
  font-size: 1.5rem;
  display: block;
  background-color: #5dc641;
  border-color: #cf2a0e;
  color: white;
  margin-bottom: 0.1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  -webkit-tap-highlight-color: rgba(90,255,10, 0.3);
}

a.button:hover{
  color: white;
}

.modal{
  top: 20% !important;
  left: 7%;
  width: 86%;
  max-width: none;
  padding: 1rem;
  min-height: 0px !important;
}

.block-center {
  display: block;
  margin: 0 auto;
}

.modal-button{
  padding: 1rem;
}

.leftmost-button{
  margin-right: 0.7rem;
}

.chats-chat {
  border-bottom: 1px solid black;
  min-height: 65px;
}
.chat-title {
  height: 31px;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chats-chat:active {
  background-color: #ecf0f1;
}
.small-gray-text {
  font-size: 17px;
  color: #7f8c8d;
}

.content {
  height: 100%;
}
.chat {
  
}
.overscrollable {
  height: 100%;
  width: 100%;
  padding-right: 15px;
  box-sizing: content-box;
  overflow: auto;
}
.overscrollable-fullscreen {
  height: 38rem;
  width: 100%;
  padding-right: 15px;
  box-sizing: content-box;
  overflow: auto;
}

input.chat-input {
  width: 72%;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  margin-left: 5px;
}
button.chat-send {
  vertical-align: top;
  width: 10%;
  padding: 0;
  height: 42px;
  border-radius: 5px;
  margin-right: 2px;
}
.chat-sticker-button {
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  color: #FFF;
  width: 30px;
}
.stickersGallery {
  padding: 10px;
}
.stickersGallery-container {
  padding-right: 15px;
  width: 100%;
  overflow: auto;
  background-color: #B3E5FC;
  box-sizing: content-box;
}
.stickersGallery-spinner {
  color: #FFF;
  text-align: center;
}
.stickersGallery .category {
  background: #81D4FA;
  border-radius: 15px;
  margin: 5px;
}
.stickersGallery .category-name {
  padding: 5px;
  text-align: center;
  background: #29B6F6;
  border-radius: 15px 15px 0 0;
}
.stickers-gallery-image-wrapper {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin: 2px;
}
.category-button {
  display: inline-block;
  background: #fff;
  padding: 2px 10px;
  border-radius: 17px;
}
input.category-name-change-input {
  margin-bottom: 0;
  background: #29B6F6;
  border: 0;
  box-shadow: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
}
.category-img {
  margin-bottom: 5px;
}
.image-button {
  margin-bottom: 2px;
  display: inline-block;
  color: #FFF;
  background: #29B6F6;
  padding: 2px 10px;
  border-radius: 17px;
}
.button-add-category {
  background: #28b162 !important;
}
.stickersGallery .category-content {
  padding: 10px;
}
.category-name-rounded {
  border-radius: 15px !important;
}

.message-container {
  margin-top: 10px;
}
.message {
  padding: 5px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  max-width: 90%;
  word-break: break-word;
}
.message-link {
  text-decoration: underline;
}
.message-own {
  background-color: rgba(46, 204, 113, 1.0);
  margin-right: 10px;
}
.message-own:after {
  content: '';
  top: 10px;
  position: absolute;
  right: -19px;
  border: 10px solid transparent;
  border-left: 10px solid rgba(46, 204, 113, 1.0)
}

.message-not-own {
  background-color: rgba(52, 152, 219,1.0);
  margin-left: 20px; 
}
.message-not-own:after {
  content: '';
  top: 10px;
  position: absolute;
  left: -19px;
  border: 10px solid transparent;
  border: 10px solid transparent;
  border-right: 10px solid rgba(52, 152, 219,1.0);
}
.chat-buttons-container {
  background-color: rgba(149, 165, 166,1.0);
  padding-top: 10px;
}

.inline-input-button-block {

}

.inline-input-button-block input {
  display: inline-block;
  width: 74%;
  vertical-align: top;
}

.inline-input-button-block button {
  width: 24%;
  height: 42px;
  padding: 0;
}
.addButton {
  font-size: 2rem;
  color: #2ecc71;
}
.addButton:active {
  color: #27ae60;
}
.add-image-preview {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media only screen and (max-height: 20rem){
  .modal{
    top: 0 !important;
  }
}

/*spinner css*/
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.grey {
  background: rgba(149, 165, 166, .8);
}

.black {
  background: rgba(0, 0, 0, .8);
}

.white {
  background: rgba(255, 255, 255, .8);
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}