html{
  height: 100%;
}
body{
  height: 100%;
  font-size: 1.3rem !important;
}

.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.text-white {
  color: #FFF;
}
.m0 {
  margin: 0;
}
.iphone-status-bar-margin {
  background-color: #333333;
  height: 20px;
  display: none;
}
a {
  color: inherit;
}

#wrapper{
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 8rem;
  overflow: hidden;
}

#footer{
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
}


.off-canvas-wrap, .inner-wrap, .main-section, #friends, #friendsList, #friendsList ul{
  height: 100%;
}



#friendsList ul{
  padding: 0;
  margin: 0 0.7rem;
  overflow: auto;
}

#friendsList ul li{
  list-style: none;
  /*
  -webkit-transition: background-color 0.07s; */ /* For Safari 3.1 to 6.0 */
/*  transition: background-color 0.07s;*/
}

.loginRegisterForm{
  text-align: center;
}

.loginRegisterButton{
  margin-top: 1rem;
}

.addFriendButton{
  margin: 0.5rem;
  display: block;
}

.mainButton{
  display: block;
  margin: 0.5rem 0.5rem 0 0.5rem;
}







.hidden{
  display: none;
}
.width-92{
  width: 92% !important;
}
.inline-block{
  display: inline-block;
}


label, input, button, .button{
  font-size: 1.3rem !important;
  height: auto;
}

.off-canvas-list{
  font-size: 1.3rem;
}







ul,
ol,
dl {
  font-size: 1.3rem;
}

input[type=text]{
  height: auto;
}


button.friend, .button.friend {
  font-size: 1.5rem;
  display: block;
  background-color: #5dc641;
  border-color: #cf2a0e;
  color: white;
  margin-bottom: 0.1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  -webkit-tap-highlight-color: rgba(90,255,10, 0.3);
}

a.button:hover{
  color: white;
}

.modal{
  top: 20% !important;
  left: 7%;
  width: 86%;
  max-width: none;
  padding: 1rem;
  min-height: 0px !important;
}

.block-center {
  margin: 0 auto;
}

.modal-button{
  padding: 1rem;
}

.leftmost-button{
  margin-right: 0.7rem;
}

.chats-chat {
  border-bottom: 1px solid black;
  min-height: 65px;
}
.chats-chat:active {
  background-color: #ecf0f1;
}
.small-gray-text {
  font-size: 17px;
  color: #7f8c8d;
}

.content {
  height: 100%;
}
.chat {
  
}
.overscrollable {
  height: 100%;
  width: 100%;
  padding-right: 15px;
  box-sizing: content-box;
  overflow: auto;
}

input.chat-input {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  margin-left: 5px;
}
button.chat-send {
  vertical-align: top;
  width: 18%;
  padding: 0;
  height: 42px;
  border-radius: 5px;
  margin-right: 2px;
}

.message-container {
  margin-top: 10px;
}
.message {
  padding: 5px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  max-width: 90%;
  word-break: break-word;
}
.message-own {
  background-color: rgba(46, 204, 113, 1.0);
  margin-right: 10px;
}
.message-own:after {
  content: '';
  top: 10px;
  position: absolute;
  right: -19px;
  border: 10px solid transparent;
  border-left: 10px solid rgba(46, 204, 113, 1.0)
}

.message-not-own {
  background-color: rgba(52, 152, 219,1.0);
  margin-left: 20px; 
}
.message-not-own:after {
  content: '';
  top: 10px;
  position: absolute;
  left: -19px;
  border: 10px solid transparent;
  border: 10px solid transparent;
  border-right: 10px solid rgba(52, 152, 219,1.0);
}
.chat-buttons-container {
  background-color: rgba(149, 165, 166,1.0);
  padding-top: 10px;
}

.inline-input-button-block {

}

.inline-input-button-block input {
  display: inline-block;
  width: 74%;
  vertical-align: top;
}

.inline-input-button-block button {
  width: 24%;
  height: 42px;
  padding: 0;
}
.addButton {
  font-size: 2rem;
  color: #2ecc71;
}
.addButton:active {
  color: #27ae60;
}
@media only screen and (max-height: 20rem){
  .modal{
    top: 0 !important;
  }
}